<body>
<div ng-controller="RideDetailsController as controller">
<section class="main-content">

    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="page-sub-title textcenter">
                    <h2>Ride Details</h2>
                    <div class="line"></div>
                </div><!-- end .page-sub-title -->
            </div><!-- end .col-md-12 col-sm-12 col-xs-12 -->

            <div class="col-md-9 col-sm-12 col-xs-12">

                <div class="page-content" style="margin-left: 12%">

                    <div id="DIV_1">
                        <div id="DIV_2">
                            <span id="SPAN_3">Departure</span> <span id="SPAN_4" style="font-size: x-large;margin-top: 5px" ng-bind="controller.ride.departure"></span>
                        </div>
                        <div id="DIV_7" style="margin-top: 30px">
                            <span id="SPAN_8">Arrival</span> <span id="SPAN_9"  style="font-size: x-large;margin-top: 5px" ng-bind="controller.ride.arrival"></span>
                        </div>
                        <div id="DIV_7" style="margin-top: 30px">
                            <span id="SPAN_8">Date </span>   <span id="SPAN_9"  style="font-size: x-large;margin-top: 5px" ng-bind="controller.ride.date"></span>
                        </div>
                        <div id="DIV_19" style="margin-top: 35px">
                            <span id="SPAN_20">Details</span>   <span id="SPAN_9"  style="font-size: x-large;margin-top: 5px" ng-bind="controller.ride.details"></span>
                        </div>

                    </div>
                </div><!-- end .page-content -->
            </div><!-- end .col-md-9 -->
            <div class="col-md-3 col-sm-12 col-xs-12">
                <aside id="sidebar" class="main-sidebar">
                    <div class="search-widget sidebar-widget">
                        <div id="DIV_11">
                            <div id="DIV_22" style="margin-top: 15px">
                                <span id="SPAN_33" >Price</span><span id="SPAN_11" ng-bind="controller.getRidePrice"></span>
                            </div>
                            <div id="DIV_15" >
                                <div id="DIV_26">
                                    <span id="SPAN_27" ng-bind="controller.getRidePlaces"></span>
                                </div>
                            </div>
                            <div id="DIV_28" >
                                <a  id="A_199" style="margin-top: 3px;margin-left: 40px">Request Ride</a>
                                <p id="P_29" style="margin-left: 40px">
                                    It is too late to book on this ride!.
                                </p>
                                <div id="DIV_30" style="margin-left: 40px">
                                    <a id="A_31">Search for another ride</a>
                                </div>
                            </div>
                        </div>
                        <div id="DIV_199">
                            <div id="DIV_29">
                                <div id="DIV_3">
                                    <div id="DIV_4">
                                        <a href="" id="A_5"><img src="{{controller.ride.driver.img}}" id="IMG_6"/></a>
                                    </div>
                                    <div style="margin-left: 45px;font-size: larger" >
                                        <span  ng-bind="controller.getDriverInfo"></span>
                                    </div>
                                </div>
                                <div id="DIV_119">
                                        <span id="SPAN_14" ng-bind="controller.getDriverRating"></span>
                                </div>
                                <!--<div id="DIV_16">-->
                                    <!--<span id="SPAN_17"><span-->
                                            <!--id="SPAN_18">Je suis parfois d'humeur bavarde.</span></span>-->
                                <!--</div>-->
                            </div>
                            <h4 id="H4_31" style="margin-top: 0%" >Car:
                            </h4>
                            <div id="DIV_329">
                                <p id="P_33" ng-bind="controller.getCarInfo">
                                </p>
                            </div>
                        </div>
                    </div><!-- end .widget-content -->
                    <!-- end .archives-widget -->
                </aside><!-- end .main-sidebar -->
            </div><!-- end .col-md-3 -->
        </div><!-- end .row -->
    </div><!-- end .container -->

</section><!-- end .main-content -->
</div>
</body>
