<body>
    <footer id="footer">

        <div class="footer-copyright">

            <div class="container">
                <div class="row">

                    <div class="col-md-12 col-sm-12 col-xs-12">
                        Copyright by ICare
                    </div>

                </div>
                <!-- end .row -->
            </div>
            <!-- end .container -->

        </div>
        <!-- end .footer-copyright -->

    </footer>
    <!-- end #footer -->

</body>
