<body>
<div ng-controller="HeaderController as controller">
    <header class="header">
        <div class="main-baner">
            <div class="background parallax clearfix">
                <div class="main-parallax-content">
                    <div class="second-parallax-content">
                        <section class="container">
                            <div class="row">
                                <div class="main-header-container clearfix">
                                    <!-- Second navbar for categories -->
                                    <nav class="navbar navbar-default">
                                        <div class="container">
                                            <!-- Brand and toggle get grouped for better mobile display -->
                                            <div class="navbar-header">
                                                <a ng-click="controller.signUp()" id="A_199">Become a driver</a>
                                                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1">
                                            </button>
                                                <a ng-click="controller.signIn()" id="sigin"  h>SignIn</a>
                                            </div>
                                            <div class="collapse navbar-collapse" id="navbar-collapse-1">
                                                <ul class="nav navbar-nav navbar-right">
                                                    <li><a href="">Home</a></li>
                                                </ul>
                                            </div>
                                            <!-- /.navbar-collapse -->
                                        </div>
                                        <!-- /.container -->
                                    </nav>
                                    <!-- /.navbar -->

                                </div>
                                <!-- end .main-header-container -->


                            </div>
                            <!-- end .row -->

                        </section>
                        <!-- end .container -->

                    </div>
                    <!-- end .second-parallax-content -->

                </div>
                <!-- end .main-parallax-content -->
            </div>
            <!-- end .background .parallax -->
        </div>
        <!-- end .main-baner -->
    </header>
    <!-- end .header -->
</div>
</body>
