<body>
<div ng-controller="DriverDashboardController as controller">
    <section class="main-content">
        <div class="container" style="width: 70%">
            <md-tabs md-dynamic-height md-border-bottom>
                <md-tab label="Pending Request">
                    <md-content class="md-padding">
                        <div class="col-sm-8 col-md-8 col-xs-8" style="margin-left: 20%;font-size: 150%">
                            <md-list-item ng-repeat="request in controller.requests" class="noright">
                                <img alt="{{ request.firstname }}" ng-src="{{ request.img }}" class="md-avatar"/>
                                <p>{{ request.firstname }} {{request.lastname}}</p>
                                <md-checkbox class="md-secondary" ng-model="request.response"></md-checkbox>
                                <md-divider></md-divider>
                            </md-list-item>
                            <md-button ng-click="controller.acceptRequests()" class="md-primary"
                                       style="margin-top: 40px; margin-left: 40%">Accept Requests
                            </md-button>
                        </div>
                    </md-content>
                </md-tab>
                <md-tab label="Profile">
                    <div class="profile-header-container" style="font-size: 150%">
                        <div class="profile-header-img">
                            <img class="img-circle" src="/assets/img/hatim.png" />
                            <!-- badge -->
                            <div class="rank-label-container">
                                <span class="label label-default rank-label">Hatim Ahadri</span>
                            </div>
                        </div>
                    </div>
                    <md-content class="md-padding">
                        <form class="form-horizontal" role="form">
                                    <fieldset>
                                        <!-- Form Name -->
                                        <legend>Profile Details</legend>
                                        <!-- Text input-->
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label" for="textinput">Full Name</label>
                                            <div class="col-sm-10">
                                                <input type="text" placeholder="Full Name" class="form-control">
                                            </div>
                                        </div>

                                        <!-- Text input-->
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label" for="textinput">Email</label>
                                            <div class="col-sm-10">
                                                <input type="text" placeholder="Email" class="form-control">
                                            </div>
                                        </div>

                                        <!-- Text input-->
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label" for="textinput">Age</label>
                                            <div class="col-sm-10">
                                                <input type="text" placeholder="Age" class="form-control">
                                            </div>
                                        </div>

                                        <md-input-container class="md-block" style="width: 52%;margin-left: 15%" flex-gt-sm>
                                            <label>Preferences</label>
                                            <md-select ng-model="vm.ridePlacesAvailable">
                                                <md-option ng-repeat="number in vm.numbers" ng-value="number">
                                                    {{number}}
                                                </md-option>
                                            </md-select>
                                        </md-input-container>

                                        <div layout-gt-sm="row" style="width: 52%;margin-left: 15%;margin-top: 60px">
                                            <md-input-container class="md-block" flex-gt-sm>
                                                <label style="margin-bottom: 20px">Model</label>
                                                <input ng-model="vm.departure" placeholder="Model">
                                            </md-input-container>
                                            <md-input-container class="md-block" flex-gt-sm>
                                                <label style="margin-bottom: 20px">Color</label>
                                                <input ng-model="vm.arrival" placeholder="Color">
                                            </md-input-container>
                                            <md-input-container class="md-block" flex-gt-sm>
                                                <label style="margin-bottom: 20px">UID</label>
                                                <input ng-model="vm.uuid" placeholder="UID">
                                            </md-input-container>
                                        </div>
                                        <md-button ng-click="controller.saveProfile()" class="md-primary"      style="margin-left: 35%">Save
                                        </md-button>
                                    </fieldset>
                                </form>
                    </md-content>
                </md-tab>
            </md-tabs>
    </section>
</div>
</body>
