<bod>
    <div ng-controller="SignUpController as vm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    <form class="idealforms reg">

                        <div class="log-header">
                            <span class="log-in">Sign up</span>
                        </div>

                        <div class="field1">
                            <input  ng-model="vm.username" name="username" type="text" placeholder="Username">
                            <span class="error"></span>
                        </div>
                        <div class="field1">
                            <input ng-model="vm.email"  name="email" type="email"  placeholder="E-Mail">
                            <span class="error"></span>
                        </div>

                        <div class="field1">
                            <input ng-model="vm.password1"  type="password" name="password" placeholder="Password">
                            <span class="error"></span>
                        </div>

                        <div class="field1">
                            <input ng-model="vm.password2"  name="confirmpass" type="password"  placeholder="Confirm Password">
                            <span class="error"></span>
                        </div>

                        <div class="field buttons">
                            <button ng-click="vm.signUp()" type="submit" class="submit btn main-color">Sign up</button>
                        </div>
                    </form><!-- end .reg -->
                </div><!-- end .modal-body -->
            </div><!-- end .modal-content -->
    </div>
</bod>
