<body>
    <div ng-controller="SignInController as vm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div><!-- end .modal-header -->
            <div class="modal-body">
                <form  class="idealforms login">

                    <div class="log-header">
                        <span class="log-in">SingIn</span>
                    </div>

                    <div class="field1">
                        <input ng-model="vm.email" name="email" type="email" placeholder="email">
                        <span class="error"></span>
                    </div>

                    <div class="field1">
                        <input ng-model="vm.password"  type="password" name="password" placeholder="Password">
                        <span class="error"></span>
                    </div>

                    <div class="field buttons">
                        <button ng-click="vm.signIn()" type="submit" class="submit btn main-color">SignIn</button>
                    </div>

                    <a href="#" class="log-twitter twitter"><i class="fa fa-twitter"></i>Twitter</a>
                    <a href="#" class="log-facebook facebook"><i class="fa fa-facebook"></i>Facebook</a>
                    <div class="clearfix"></div>
                </form><!-- end .login -->
            </div><!-- end .modal-body -->
        </div><!-- end .modal-content -->
    </div>
</body>
