<body>
<div class="main-baner" ng-controller="BodyController as vm">
    <div class="main-parallax-content">
        <div class="second-parallax-content">
            <section class="container">
                <div class="col-md-7 col-sm-12 col-xs-12" style="margin-left: 350px">
                    <div class="form-inline">
                        <div class="addon-lg col-lg-2">
                            <md-input-container class="md-block" flex-gt-sm>
                                <input type="text" placeholder="From" class="form-control" id="from" google-place
                                       ng-model="vm.fromPlace">
                            </md-input-container>
                        </div>
                        <div class="addon-lg col-lg-2" style="margin-left: 30px">
                            <md-input-container class="md-block" flex-gt-sm>

                                <input type="text" placeholder="To" class="form-control" id="to" google-place
                                       ng-model="vm.toPlace">
                            </md-input-container>
                        </div>
                        <div class="addon-lg col-lg-2" style="margin-left: 50px; margin-top: 22px">
                            <md-datepicker ng-model="vm.rideDate" md-placeholder="Enter date"></md-datepicker>
                        </div>
                        <div class="addon-lg col-lg-2" style="margin-left: 100px; margin-top: 18px">
                            <button type="submit" id="BUTTON_999" ng-click="vm.findRide()">
                                Find Ride
                            </button>
                        </div>
                    </div>

                </div><!-- end .col-sm-4 -->
            </section><!-- end .container -->

        </div><!-- end .second-parallax-content -->

    </div><!-- end .main-parallax-content -->

</div><!-- end .background .parallax -->

</div><!-- end .main-baner -->
<section class="main-content">

    <div class="container">
        <div class="row">
            <div class="page-content">
                <div class="services clearfix">

                    <div class="col-md-12 col-sm-12 col-xs-12">

                        <div class="page-sub-title textcenter">
                            <h2>Services</h2>
                            <div class="line"></div>
                        </div>
                        <!-- end .page-sub-title -->

                    </div>
                    <!-- end .col-md-12 col-sm-12 col-xs-12 -->

                    <div class="col-md-4 col-sm-4 col-xs-12">

                        <article class="service">

                            <i class="fa fa-car"></i>

                            <h3>Share your ride</h3>
                            <p>Are you getting sick of traveling alone and spent so much money on gas? Share your ride
                                today,and
                                forget about this problems.</p>


                        </article>
                        <!-- end .service -->

                    </div>
                    <!-- end .col-md-4 -->

                    <div class="col-md-4 col-sm-4 col-xs-12">

                        <article class="service">

                            <i class="fa fa-users"></i>

                            <h3>Find new friends</h3>
                            <p>Finding new friends is easier than ever,nothing makes better friendship than spending few
                                hours casually chatting with some interesting people.</p>

                        </article>
                        <!-- end .service -->

                    </div>
                    <!-- end .col-md-4 -->

                    <div class="col-md-4 col-sm-4 col-xs-12">

                        <article class="service">

                            <i class="fa fa-map-marker"></i>

                            <h3>Go to new places</h3>
                            <p> Find some new favourite place to chill out,you have no longer got excuse for not
                                travelling
                                and discovering. </p>

                        </article>
                        <!-- end .service -->
                    </div>
                    <!-- end .col-md-4 -->
                </div>
                <!-- end .services -->
                <!-- end .fullscreen .background .parallax -->

            </div>
            <!-- end .col-md-12 -->
            <div class="last-rides">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="page-sub-title textcenter">
                        <h2>Last rides</h2>
                        <div class="line"></div>
                    </div>
                    <!-- end .page-sub-title -->
                </div>
            </div>
            <!-- end .last-rides -->
        </div>
        <!-- end .page-content -->
    </div>
    <!-- end .row -->
    </div>
    <!-- end .container -->

</section>
<!-- end .main-content -->

</body>
