/* === Reset === */
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/



html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, images, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video
{
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section
{
    display: block
}
body
{
    line-height: 1
}
ol, ul
{
    list-style: none
}
blockquote, q
{
    quotes: none
}
table
{
    border-collapse: collapse;
    border-spacing: 0;
}
/* === End Reset === */
/* === General === */
html, body
{
    height: 100%
}
*, *:after, *:before
{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body
{
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    line-height: 28px;
    overflow-x: hidden;
    color: #A6A497;
    font-weight: normal;
    background: #f4f1e3;
}
/* === Images === */
img
{
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}
/* === Links === */
a
{
    -webkit-transition: all  0.3s ease-in-out 0s;
    -moz-transition: all  0.3s ease-in-out 0s;
    -ms-transition: all  0.3s ease-in-out 0s;
    -o-transition: all  0.3s ease-in-out 0s;
    transition: all  0.3s ease-in-out 0s;
    text-decoration: none;
    color: #63a599;
}
a:focus
{
    outline: none
}
a:hover
{
    color: #1F2F3F;
    text-decoration: none;
}
/* === Paragraf Elements === */
p a:hover, span a:hover, h5 a:hover
{
    text-decoration: none
}
p, ul, ol
{
    margin-bottom: 1.5em
}
p a, h5 a
{
    font-weight: bold;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}
p:last-child
{
    margin-bottom: 0
}
.content-row p:last-of-type
{
    margin-bottom: 0
}
/* === Headers === */
h1, h2, h3, h4, h5
{
    margin-bottom: 1em;
    line-height: 1.5em;
    color: #1F2F3F;
}
h1
{
    font-size: 2em
}
h2
{
    font-size: 1.5em
}
h3
{
    font-size: 1.17em
}
h5
{
    font-size: .83em
}
h6
{
    font-size: .75em
}
address
{
    font-style: italic;
    margin-bottom: 24px;
}
abbr[title]
{
    border-bottom: 1px dotted #2b2b2b;
    cursor: help;
}
b, strong
{
    font-weight: 700
}
cite, dfn, em, i
{
    font-style: italic
}
mark, ins
{
    background: #fff9c0;
    text-decoration: none;
}
code, kbd, tt, var, samp, pre
{
    font-size: 15px;
    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
    line-height: 1.6;
}
pre
{
    border: 1px solid rgba(0, 0, 0, 0.1);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-bottom: 24px;
    max-width: 100%;
    overflow: auto;
    padding: 12px;
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word;
}
small
{
    font-size: smaller
}
big
{
    font-size: 125%
}
sup, sub
{
    font-size: 75%;
    height: 0;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}
sup
{
    bottom: 1ex
}
sub
{
    top: .5ex
}
dl
{
    margin-bottom: 24px
}
dt
{
    font-weight: bold
}
dd
{
    margin-bottom: 24px
}
ul, ol
{
    list-style: none;
    margin: 0 0 24px 20px;
}
ul
{
    list-style: disc
}
ol
{
    list-style: decimal
}
li > ul, li > ol
{
    margin: 0 0 0 20px
}
img
{
    -ms-interpolation-mode: bicubic;
    border: 0;
    vertical-align: middle;
}
figure
{
    margin: 0
}
fieldset
{
    border: 1px solid rgba(0, 0, 0, 0.1);
    margin: 0 0 24px;
    padding: 11px 12px 0;
}
legend
{
    white-space: normal
}
button, input, select, textarea
{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 100%;
    margin: 0;
    max-width: 100%;
    vertical-align: baseline;
}
button, input
{
    line-height: normal
}
input, textarea
{
    outline: none
}
button, html input[type="button"], input[type="reset"], input[type="submit"]
{
    -webkit-appearance: button;
    cursor: pointer;
    border: 1px solid transparent;
}
button[disabled], input[disabled]
{
    cursor: default
}
input[type="checkbox"], input[type="radio"]
{
    padding: 0
}
input[type="search"]
{
    -webkit-appearance: textfield
}
input[type="search"]::-webkit-search-decoration
{
    -webkit-appearance: none
}
.btn
{
    color: #fff;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}
.btn:hover
{
    color: #fff;
    background: #515151;
}
button::-moz-focus-inner, input::-moz-focus-inner
{
    border: 0;
    padding: 0;
}
textarea
{
    overflow: auto;
    vertical-align: top;
}
del
{
    color: #767676
}
hr
{
    background-color: rgba(0, 0, 0, 0.1);
    border: 0;
    height: 1px;
    margin-bottom: 23px;
}
/* Alignment */
.alignleft
{
    float: left
}
.alignright
{
    float: right
}
.textcenter
{
    text-align: center
}
/* === Header === */
div[class*="col-xs-"], div[class*="col-sm-"], div[class*="col-md-"], div[class*="col-lg-"]
{
    padding: 0;
    margin: 0;
}
.row
{
    padding: 0;
    margin: 0;
}
.container
{
    width: 100%;
}
.top-menu
{
    background:  rgb(217, 25, 85)
}
.main-baner
{
    height: 700%;
    min-height: 100%;
}
.slider-baner .main-header-container
{
    left: 2em;
    right: 2em;
}
/* === Paralax === */
.fullscreen, .main-parallax-content
{
    width: 100%;
    min-height: 250%;
}
.not-fullscreen, .not-fullscreen .main-parallax-content, .fullscreen.not-overflow, .fullscreen.not-overflow .main-parallax-content
{
    min-height: 700px;
    height: 800%;
    margin-top: 0%;
    overflow: hidden;
}
.parallax-content
{
    background: rgba(000,000,000,0.5);
}
.read-all
{
    text-align: center;
    background: #f4f1e3;
    padding: 1em 0;
    color: #fff;
    text-transform: uppercase;
}
/* === Main header === */
.main-header-container
{
    position: relative;
}
.logo
{
    text-align: center;
    padding: 1.5em 3em;
}
.logo h1
{
    color: #fff;
    font-size: 60px;
}

.slogan {
    font-size: 20px;
    text-align: center;
    padding: 1.5em 3em;
    color: #fff;
}
/* === Modal === */
.modal-content
{
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border: none;
    background: #fff;
}
/* === Main menu === */
.main-navigation
{
    background:  rgb(217, 25, 85);
    text-transform: uppercase;
}
.main-navigation ul
{
    margin-right: 10px;
}
.main-navigation ul li:first-child
{
    margin-right: 50%;
    padding: 0 0 0 0.8em
}
.nav li {
    font-size: 20px;
}
.nav ul {
    color:  rgb(217, 25, 85);
}
.main-navigation ul.sub-menu li:first-child
{
    padding: 6px 0 0 0
}
.main-navigation ul > li
{
    position: relative;
    display: inline-block;
}
.main-navigation ul > li a
{
    border: 3px solid  rgb(217, 25, 85);
    color:  rgb(217, 25, 85);
    display: inline-block;
    font-size: 36px;
    margin: 1em 0.5em;
    padding: 10px 20px;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.main-navigation ul > li a:hover
{
    color: #fff;
    background:  rgb(217, 25, 85);
}
.main-navigation ul > li ul
{
    background: #465057;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    left: 2px;
    z-index: 6;
    top: 100px;
}
.main-navigation ul > li ul li:last-child
{
    border-bottom: none
}
.main-navigation ul > li ul li
{
    white-space: nowrap;
    width: 100%;
    display: flex;
}
.main-navigation ul > li ul li a
{
    float: left;
    padding: 12px 24px;
    margin: 6px 12px;
    width: 100%;
    color:  rgb(217, 25, 85);
    border: 3px solid  rgb(217, 25, 85);
}
.main-navigation ul > li ul li a:hover
{
    background:  rgb(217, 25, 85)
}
.main-navigation ul > li ul li a:first-child
{
    margin: 6px 6px
}
.main-navigation ul > li ul li a:last-child
{
    margin: 0 6px 6px 6px
}
.main-navigation ul > li ul li:hover
{
    -webkit-transition: all  0.2s ease-in;
    -moz-transition: all  0.2s ease-in;
    -o-transition: all  0.2s ease-in;
    transition: all 0.2s ease-in;
}
.main-navigation ul > li ul li ul
{
    position: absolute;
    -webkit-transition: opacity 0.2s ease-in;
    -moz-transition: opacity 0.2s ease-in;
    -o-transition: opacity 0.2s ease-in;
    transition: opacity 0.2s ease-in;
}
.main-navigation ul > li:hover > ul
{
    opacity: 10;
    filter: alpha(opacity=100);
    visibility: visible;
}

/* === Content === */
.main-content
{
    background: #fff;
    margin: 0 2em 2em;
    padding: 3em 2em;
}
/* === Page  === */
.box-fix .ride-pagination
{
    margin: 0 1em
}
.page-content
{
    margin: 0 1em
}
.page-sub-title
{
    margin: 0 1em 1em 1em
}
.page-sub-title h2
{
    text-transform: uppercase;
    position: relative;
    display: inline-block;
    z-index: 3;
    background: #fff;
    border: 3px solid #f4f1e3;
    padding: 1em 1.5em;
}
.line:after
{
    border-top: 3px solid #f4f1e3;
    display: block;
    position: absolute;
    top: 32%;
    left: 15px;
    right: 15px;
    z-index: 1;
}
/* === Services === */
.services
{
    margin-bottom: 3em
}
.service
{
    padding: 3em;
    -webkit-transition: all  0.4s ease-in-out 0s;
    -moz-transition: all  0.4s ease-in-out 0s;
    -ms-transition: all  0.4s ease-in-out 0s;
    -o-transition: all  0.4s ease-in-out 0s;
    transition: all  0.4s ease-in-out 0s;
}
.service p
{
    text-align: center
}
.service i
{
    color: #63a599;
    display: block;
    font-size: 150px;
    margin: 0 0 20px 0;
    text-align: center;
    vertical-align: middle;
    position: relative;
}
.service:hover
{
    background: #63a599
}
.service:hover i
{
    color: #FFFFFF
}
.service h3
{
    text-align: center
}
.service:hover p
{
    color: #fff
}
/* === Articles by users === */
.last-rides
{
    margin-top: 3em
}
.ride-box
{
    -webkit-transition: all  0.4s ease-in-out 0s;
    -moz-transition: all  0.4s ease-in-out 0s;
    -ms-transition: all  0.4s ease-in-out 0s;
    -o-transition: all  0.4s ease-in-out 0s;
    transition: all  0.4s ease-in-out 0s;
    border: 3px solid #f4f1e3;
    padding: 20px 26px;
    margin: -3px 0 0 0;
    position: relative;
}
.ride-box .article-meta li
{
    display: block
}
.ride-box ul.article-meta
{
    display: inline-block;
    margin: 0;
}
.article-content
{
    display: inline-block;
    margin: 1em 0 0 0;
}
.ride-content
{
    display: inline-block
}
.ride-content h3
{
    display: inline;
    margin: 0 0.5em 0 0;
}
.ride-content h3 a
{
    color: #1f2f3f
}
ul.full-ride-meta
{
    float: right;
    margin: 0;
    list-style: none;
}
.ride-box .ride-meta
{
    margin: 0
}
.ride-meta
{
    margin: 0 0 1.5em 0;
    font-size: 13px;
    float: right;
    color: #a6a497;
}
ul.ride-meta li
{
    display: inline-block;
    margin-right: 1.5em;
}
ul.ride-meta li:last-child
{
    margin: 0
}
.ride-box:hover
{
    background: #f4f1e3;
}
/* === Blog rides === */
.article
{
    margin-bottom: 3em
}
.article:last-of-type
{
    margin: 0
}
.article .ride-image img
{
    width: 100%;
    border: 3px solid #f4f1e3;
}
.article header
{
    position: relative
}
.article-title
{
    background: #f4f1e3;
    position: absolute;
    bottom: 30px;
    left: 0;
    padding: 1em 2em;
    position: absolute;
}
ul.article-meta
{
    font-size: 13px;
    margin: 1.5em 0 0;
    list-style: none;
    text-transform: capitalize;
}
.article-meta li
{
    display: inline-block;
    margin-right: 1.5em;
}
/* === Single ride === */
.single-article
{
    margin-bottom: 2em
}
.single-article-title h2
{
    display: inline-block;
    margin: 0;
}
.single-article .ride-meta
{
    margin-top: 1em
}
/* === Comments === */
#comments ol
{
    list-style: none;
    margin: 0;
}
.commentslist ul
{
    list-style: none
}
.comments-area h3
{
    margin: 0;
    padding: 2em 0;
    text-transform: uppercase;
}
.comments-area a:hover
{
    text-decoration: none
}
.commentslist li article
{
    border: 3px solid #f4f1e3;
    padding: 2em 3em 2.5em 4.5em;
    margin: 0 0 3em 3em;
    position: relative;
    background: #fff;
}
.commentslist li article header
{
    display: inline-block;
    font-size: 12px;
    position: relative;
    width: 100%;
}
.commentslist li article header span, .commentslist li article .awaiting-moderation
{
    font-style: italic
}
.commentslist li article header h4
{
    margin-bottom: .5em;
    margin-top: 0;
    float: left;
}
.commentslist li article header h4 a
{
    font-weight: normal;
    cursor: pointer;
}
.commentslist li article header span
{
    float: right
}
.comment-user-name
{
    float: left;
    font-size: 16px;
    color: #63a599;
}
.commentslist li article .comment-avatar img
{
    margin-bottom: 1em;
    position: absolute;
    top: 40px;
    left: -40px;
    border: 3px solid #f4f1e3;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
}
.commentslist li ol, .commentslist li ul
{
    margin-left: 3em
}
.commentslist li ol li, .commentslist li ul li
{
    position: relative
}
.commentslist article ul, .commentslist article ol
{
    border: none;
    padding-left: 0;
}
.commentslist article > ul, .commentslist article > ol
{
    margin-bottom: 2em
}
.commentslist article ol li::before, .commentslist article ul li::before
{
    content: '';
    display: none;
}
.commentslist article ol li
{
    list-style: decimal
}
.commentslist article ul li
{
    list-style: disc
}
.allowed-tags
{
    margin: 2em 0;
    font-size: 12px;
}
.comment-reply-link
{
    cursor: pointer;
    float: right;
}
#cancel-comment-reply-link
{
    font-size: 12px;
    display: block;
    margin-top: 1em;
}
.full-fild
{
    width: 100%;
    margin-bottom: 1.7em;
    display: inline-block;
}
#respond .field
{
    display: inline-flex;
    width: 100%;
}
#respond .field
{
    margin-right: 20px
}
#respond form.idealforms .buttons
{
    margin: 0;
    width: 100%;
}
/* === Events === */
.events
{
    margin-top: 3em;
    height: 100%;
    display: inline-block;
}
.event
{
    position: relative;
    overflow: hidden;
}
.event img
{
    width: 100%;
    height: 100%;
}
.vertical-two img
{
    width: 100%
}
.event-info
{
    position: relative
}
.vertical .box
{
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
    -webkit-transform: translate3d(120%, 0%,0);
    transform: translate3d(120%, 0%,0);
    background: #fff;
    right: 2em;
    left: 2em;
    padding: 1em;
    position: absolute;
}
.box
{
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
    -webkit-transform: translate3d(120%, 0%,0);
    transform: translate3d(120%, 0%,0);
    background: #fff;
    right: 2em;
    left: 60%;
    padding: 1em;
    position: absolute;
    color: #fff;
    text-align: center;
}
.box a
{
    color: #fff
}
.box:nth-child(1)
{
    bottom: 140px;
    background: #63a599;
}
.box:nth-child(2)
{
    bottom: 83px;
    background: #6fbcae;
}
.box:nth-child(3)
{
    bottom: 25px;
    background: #7ccebf;
    cursor: pointer;
}
.box:nth-child(3):hover
{
    background: #465057
}
.event:hover  .box
{
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}
.event:hover .box:nth-child(1)
{
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
}
.event:hover .box:nth-child(2)
{
    -webkit-transition-delay: 0.6s;
    transition-delay: 0.4s;
}
.event:hover .box:nth-child(3)
{
    -webkit-transition-delay: 0.9s;
    transition-delay: 0.6s;
}
.event-name h3
{
    margin-bottom: 0
}
.comment-nav, .post-pagination
{
    background: #f4f1e3;
    padding: 1em 1.5em;
    color: #fff;
    text-transform: uppercase;
}
.pagination-margin
{
    margin: 1.7em 0 0 0
}
.post-pagination i, .comment-nav i
{
    padding: 0 7px;
    width: 24px;
}
.counter
{
    display: inherit;
    font-size: 48px;
    margin: 0 0 0.4em;
    color: #fff;
}
.site-stat
{
    text-align: center;
    color: #63a599;
}
/* === Login form === */
.modal-header
{
    border: none;
    position: relative;
    z-index: 10;
}
.modal-body
{
    padding: 0 15px 15px
}
.log-header
{
    font-size: 18px;
    padding-bottom: 8px;
    border-bottom: 3px solid #f4f1e3;
    text-align: center;
    margin-bottom: 18px;
}
.log-header .log-in, .log-header .sign-up
{
    display: inline-block;
    text-transform: uppercase;
    padding-left: 2px;
    color: #465057;
}
label
{
    display: block;
    padding: 0 0 10px 3px;
    text-transform: uppercase;
    font-size: 13px;
}
label i
{
    display: inline-block;
    font-size: 20px;
    margin-right: 18px;
    width: 10px;
}
[type=submit], .log-twitter, .log-facebook
{
    padding: 15px 0;
    float: left;
    position: relative;
    cursor: pointer;
    font-size: 15px;
    text-align: center;
    color: #fff;
}
[type="submit"]
{
    width: 100%
}
.log-facebook .fa-facebook:before
{
    left: -16px;
    position: relative;
    top: 2px;
    font-size: 20px;
}
.log-twitter .fa-twitter:before
{
    left: -18px;
    position: relative;
    top: 2px;
    font-size: 20px;
}
input[type=submit]
{
    margin-bottom: 3%;
    width: 100%;
}
.log-twitter
{
    margin-right: 2%;
    width: 49%;
}
.log-facebook
{
    width: 49%
}
[type="submit"]:hover, .log-twitter:hover, .log-facebook:hover
{
    color: #fff;
    background: #515151;
}
.alert
{
    margin: 13px 0 0
}
.modal-open
{
    overflow-y: visible
}
/* === Sidebar === */
#sidebar
{
    margin-right: 100px;
}
.sidebar-widget
{
    display: block;
    margin-bottom: 1.5em;
    margin-right: 100px;
}
.index-widget
{
    margin: 1em 0 2.5em;
    display: block;
}
.sidebar-widget h4
{
    margin-bottom: 1em;
    text-transform: uppercase;
}
.sidebar-widget ul
{
    margin: 0
}
.sidebar-widget ul li
{
    border-bottom: 3px solid #f4f1e3;
    line-height: 18px;
    padding: 1em 0;
    width: 100%;
    display: inline-block;
}
.sidebar-widget ul li:first-child
{
    padding: 0 0 1em 0
}
.sidebar-widget ul li ul
{
    border: none
}
.sidebar-widget ul li a
{
    font-weight: normal;
    margin-right: 0;
}
.sidebar-widget ul li:hover
{
    color: #2b3039
}
/* === Widget Search Form === */
.widget-content form.idealforms .field
{
    margin: 0  ;
}
.widget-content .searchtours
{
    background: #fff
}
.widget-content .searchtours .field
{
    width: 100%
}
/* === Popular rides === */
.popular-destinations .featured-thumb
{
    float: left;
    margin: 0 1em 0 0;
}
.popular-destinations  .ride-meta
{
    font-size: 12px
}
/* === Tags === */
.tagcloud
{
    display: inline-block
}
.tagcloud a
{
    display: block;
    float: left;
    margin: 0 7px 7px 0;
    padding: 5px 10px;
    background: #FFF;
}
/* === Footer === */
.footer-copyright
{
    background: #273a4d;
    padding: 1.5em 0;
    color: #fff;
    text-align: center;
    margin-bottom: 0px;
}
/* === Form === */
form.idealforms .field
{
    margin: 0.35em 0px;
    display: inline-block;
    width: 100%;
}
form.idealforms .field1
{
    margin: 0.35em 120px;
    display: inline-block;
    width: 100%;
}
form.idealforms input, form.idealforms textarea, form.idealforms select, form.idealforms .field .group
{
    box-shadow: none;
    padding: 0 1em;
    border: 3px solid #f4f1e3;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}
form.idealforms.searchtours .field .icon{
    margin-left: -50px;
}
form.idealforms textarea
{
    width: 100%;
    padding: 1em;
}
.idealselect .title
{
    box-shadow: none;
    background: none;
    height: 56px;
    line-height: 50px;
    padding: 0 1em;
    border: 3px solid #f4f1e3;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}
.idealselect .dropdown
{
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border: 3px solid #f4f1e3;
    margin: -1px 0 0 0;
}
.idealselect .dropdown li:hover
{
    background: #f4f1e3
}
.idealselect .dropdown li.selected, .idealselect .dropdown li.selected:active
{
    background: #f4f1e3;
    color: #63a599;
}
.idealselect .title:after
{
    border-color: #63a599 transparent transparent
}
.idealselect .title:hover
{
    background: #f4f1e3;
}
.idealselect .title i
{
    background: #f4f1e3;
    border: none;
}
.ui-datepicker
{
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    border-top: 3px solid #f4f1e3;
    margin-top: -3px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    padding: 0;
    border-bottom: none;
    border-right: none;
    border-left: none;
}
.ui-datepicker-calendar a
{
    padding: 7px
}
.ui-datepicker-calendar a:hover
{
    font-weight: normal;
    background: none repeat scroll 0 0 #f4f1e3;
    color: #63a599;
}
.ui-datepicker-calendar td
{
    border: 3px solid #f4f1e3;
    padding: 0;
    text-align: center;
}
.ui-datepicker-calendar .ui-datepicker-today a
{
    background: none repeat scroll 0 0 #f4f1e3;
    color: #63a599;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}
.ui-datepicker-calendar thead th
{
    border: 3px solid #f4f1e3;
    font-weight: bold;
    text-align: center;
}
.ui-datepicker-header
{
    font-weight: normal;
    padding: 1em 0 0.7em;
    margin: 0;
}
.ui-datepicker-calendar .ui-datepicker-today a
{
    margin: 0
}
.modal-body form.idealforms .field
{
    max-width: 100%
}
input, button, select, textarea
{
    -webkit-transition: all  0.3s ease-in-out 0s;
    -moz-transition: all  0.3s ease-in-out 0s;
    -ms-transition: all  0.3s ease-in-out 0s;
    -o-transition: all  0.3s ease-in-out 0s;
    transition: all  0.3s ease-in-out 0s;
}
input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input
{
    border: 3px solid #f4f1e3;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    height: 56px;
    width: 60%;
    padding: 0 1em;
    margin-bottom: 1.5em;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}
form textarea
{
    border: 3px solid #f4f1e3;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    width: 100%;
    color: #606060;
    padding: 1em;
    margin-bottom: 1.5em;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}
/* === Content === */
.col-md-4 .search-content
{
    margin: 5em  0 0em 0em
}
.search-content
{
    padding: 2em;
    background: #fff;
    margin: 5em 3em 10em 3em;
}
form.idealforms.searchtours .field
{
    padding: 0 1em;
    float: left;
}
form.idealforms.searchtours .field:nth-child(n+5)
{
    margin-bottom: 0;
    margin-right: 2em;
}
form.idealforms.adaptive .field
{
    width: 100%
}
form.idealforms.adaptive .field .icon
{
    margin-top: 1.4em;
    margin-left: -50px;
}
form.idealforms.searchtours .field:nth-child(2n+4)
{
    margin: 0 0 0 0
}
/* ===  Colors  === */
.dark-sub-color
{
    background: #465057;
    color: #63A599;
}
.main-color
{
    background: #63A599;
    color: #465057;
}
.white-color
{
    background: #fff
}
.green-color
{
    background: #2ecc71
}
.blue-color
{
    background: #0c7ca4
}
.red-color
{
    background: #e74c3c
}
.yellow-color
{
    background: #f1c40f
}
.orange-color
{
    background: #e67e22
}
.turquoise
{
    background: #1abc9c
}
.amethyst
{
    background: #9b59b6
}
.wet-asphalt
{
    background: #34495e
}
.silver
{
    background: #bdc3c7
}
.contact-section
{
    position: relative
}
/* === Social icons === */
ul.social-icons
{
    display: inline-flex;
    float: right;
    margin: 0;
}
.social-icons li
{
    display: inline-block;
    float: right;
}
.social-icons li a
{
    margin: 0
}
.social-icons a
{
    width: 53px;
    font-size: 22px;
    height: 53px;
    line-height: 53px;
    display: inline-block;
    cursor: pointer;
    color: #fff;
    position: relative;
    text-align: center;
}
.social-icons .facebook, .facebook
{
    background: #3B5998
}
.social-icons .twitter, .twitter
{
    background: #00ACED
}
.social-icons .google
{
    background: #d14836
}
/* === Buttons + icons === */
.btn-icon
{
    height: 42px;
    width: 42px;
    color: #fff;
    display: inline-block;
    background: #ff9d03;
}
.btn-icon a
{
    color: #fff;
    height: 42px;
    line-height: 26px;
    width: 42px;
    float: left;
    display: block;
}
.btn-icon i
{
    position: relative;
    width: 100%;
    height: 100%;
    cursor: pointer;
    opacity: 1;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -moz-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 18px;
}
.btn-icon a:hover
{
    color: #fff;
    background: #0f262b;
}
/* ===  Slicknav  === */
.slicknav_menu
{
    display: none
}
.section
{
    width: 100%;
    max-width: 1600px;
    min-width: 960px;
    z-index: 10;
    position: relative;
    margin: 0 auto;
    padding: 0 0 20px 0;
    height: 500px;
}
.inner
{
    width: 960px;
    margin: 0 auto;
    position: relative;
    min-height: 50px;
    padding: 30px 0;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}
.inner:after
{
    display: table;
    clear: both;
}
.subMenu
{
    height: 50px;
    z-index: 1000;
    width: 100%;
    background: #0977bc;
}
.subMenu .inner
{
    padding: 0;
    font-weight: 400;
    margin: 0 auto;
}
.subNavBtn
{
    display: block;
    height: 35px;
    width: 10%;
    float: left;
    margin: 0px 0px 0 0;
    text-decoration: none;
    font-size: 14px;
    padding: 15px 2% 0 2%;
    text-align: center;
    color: #fff;
}
.subMenu a:hover
{
    background: #1783c7
}
.active
{
    background: #25aae1
}
.end
{
    margin: 0
}
/* ===  Responsive  === */
/* === Widescreen  === */
@media only screen and (min-width: 1280px)
{

}
@media only screen and (min-width: 980px) and (max-width: 1240px)
{
    .article-title
    {
        bottom: 60px
    }
}
/* ===  7" Tablet  === */
@media only screen and (min-width: 600px) and (max-width: 780px)
{
    /* #menu is the original menu */
    .js #nav
    {
        display: none
    }
    .js .slicknav_menu
    {
        display: block
    }
}
@media only screen and (min-width: 320px) and (max-width: 980px)
{
    .commentslist li ol, .commentslist li ul
    {
        margin: 0
    }
    .article-title
    {
        position: relative;
        bottom: 0;
    }
    /* #menu is the original menu */
    .js #nav
    {
        display: none
    }
    .js .slicknav_menu
    {
        display: block
    }
    /* #menu is the original menu */
    .js #nav
    {
        display: none
    }
    .js .slicknav_menu
    {
        display: block
    }
    .logo
    {
        padding: 1.5em 0
    }
    .page-content, .page-sub-title
    {
        margin: 0
    }
    .main-baner
    {
        padding: 0
    }
    .main-content
    {
        margin: 0;
        padding: 2em 1em;
    }
    .ride-box
    {
        padding: 20px 26px 0;
        display: block;
    }
    .line:after
    {
        top: 38%
    }
    .box:nth-child(1), .box:nth-child(2)
    {
        display: none
    }
    .box:nth-child(3)
    {
        bottom: 0;
        left: 0;
        right: 0;
    }
    .box-fix .event
    {
        margin: 0 0 1em
    }
    .box-fix .post-pagination
    {
        margin: 1.7em 0 0
    }
    #sidebar
    {
        margin: 2em 0 0
    }
    .slicknav_nav a
    {
        text-transform: uppercase
    }
}

#DIV_1 {
    color: rgb(51, 51, 51);
    height: 302.614px;
    text-size-adjust: 160%;
    width: 800px;
    column-rule-color: rgb(51, 51, 51);
    perspective-origin: 310px 167.216px;
    transform-origin: 310px 167.216px;
    background: rgb(255, 255, 255) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0.909091px solid rgb(221, 221, 221);
    border-radius: 3px 3px 3px 3px;
    font: normal normal normal normal 13px / 18px Arial, Helvetica, sans-serif;
    margin: 0px 0px 50px;
    margin-left: 50px;
    outline: rgb(51, 51, 51) none 0px;
    padding: 15px;
}/*#DIV_1*/

#DIV_2 {
    clear: both;
    color: rgb(51, 51, 51);
    height: 17.2727px;
    text-size-adjust: 100%;
    width: 588.182px;
    column-rule-color: rgb(51, 51, 51);
    perspective-origin: 294.091px 8.63636px;
    transform-origin: 294.091px 8.63636px;
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal normal 20px / 18px Arial, Helvetica, sans-serif;
    margin: 7px 0px 15px;
    outline: rgb(51, 51, 51) none 0px;
}/*#DIV_2*/

#DIV_2:after {
    clear: both;
    color: rgb(51, 51, 51);
    display: table;
    text-size-adjust: 100%;
    column-rule-color: rgb(51, 51, 51);
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal normal 14px / 0px Arial, Helvetica, sans-serif;
    outline: rgb(51, 51, 51) none 0px;
}/*#DIV_2:after*/

#DIV_2:before {
    color: rgb(51, 51, 51);
    display: table;
    text-size-adjust: 100%;
    column-rule-color: rgb(51, 51, 51);
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal normal 14px / 0px Arial, Helvetica, sans-serif;
    outline: rgb(51, 51, 51) none 0px;
}/*#DIV_2:before*/

#SPAN_3, #SPAN_8, #SPAN_13, #SPAN_20 {
    color: rgb(114, 114, 114);
    display: block;
    float: left;
    height: 17.2727px;
    text-size-adjust: 100%;
    vertical-align: top;
    width: 147.045px;
    column-rule-color: rgb(114, 114, 114);
    perspective-origin: 73.5227px 8.63636px;
    transform-origin: 73.5227px 8.63636px;
    border: 0px none rgb(114, 114, 114);
    font: normal normal normal normal 20px / 22px Arial, Helvetica, sans-serif;
    outline: rgb(114, 114, 114) none 0px;
}/*#SPAN_3, #SPAN_8, #SPAN_13, #SPAN_20*/

#SPAN_4, #SPAN_9 {
    color: rgb(0, 134, 191);
    cursor: pointer;
    display: block;
    float: left;
    height: 17.2727px;
    text-size-adjust: 100%;
    vertical-align: top;
    width: 441.136px;
    column-rule-color: rgb(0, 134, 191);
    perspective-origin: 220.568px 8.63636px;
    transform-origin: 220.568px 8.63636px;
    border: 0px none rgb(0, 134, 191);
    font: normal normal normal normal 14px / 18px Arial, Helvetica, sans-serif;
    outline: rgb(0, 134, 191) none 0px;
}/*#SPAN_4, #SPAN_9*/

#I_5 {
    color: rgb(0, 168, 126);
    cursor: pointer;
    display: block;
    float: left;
    height: 17.2727px;
    text-align: center;
    text-size-adjust: 100%;
    width: 41.9886px;
    column-rule-color: rgb(0, 168, 126);
    perspective-origin: 20.9943px 8.63636px;
    transform-origin: 20.9943px 8.63636px;
    border: 0px none rgb(0, 168, 126);
    font: italic normal normal normal 16px / 18px Arial, Helvetica, sans-serif;
    outline: rgb(0, 168, 126) none 0px;
}/*#I_5*/

#I_5:before {
    color: rgb(0, 168, 126);
    cursor: pointer;
    display: inline-block;
    height: 15.4545px;
    speak: none;
    text-align: center;
    text-rendering: optimizeLegibility;
    text-size-adjust: 100%;
    width: 15.9943px;
    column-rule-color: rgb(0, 168, 126);
    perspective-origin: 7.99716px 7.72727px;
    transform-origin: 7.99716px 7.72727px;
    border: 0px none rgb(0, 168, 126);
    font: normal normal normal normal 16px / 16px bbc-icons;
    outline: rgb(0, 168, 126) none 0px;
}/*#I_5:before*/

#SPAN_6, #SPAN_11 {
    color: rgb(0, 134, 191);
    cursor: pointer;
    display: block;
    height: 17px;
    width: 450px;
    column-rule-color: rgb(0, 134, 191);
    perspective-origin: 199.574px 8.63636px;
    transform-origin: 199.574px 8.63636px;
    border: 0px none rgb(0, 134, 191);
    font: normal normal normal normal 14px / 18px Arial, Helvetica, sans-serif;
    outline: rgb(0, 134, 191) none 0px;
    overflow: hidden;
}/*#SPAN_6, #SPAN_11*/

#DIV_7 {
    clear: both;
    color: rgb(51, 51, 51);
    height: 17.2727px;
    text-size-adjust: 100%;
    width: 588.182px;
    column-rule-color: rgb(51, 51, 51);
    perspective-origin: 294.091px 8.63636px;
    transform-origin: 294.091px 8.63636px;
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal normal 14px / 18px Arial, Helvetica, sans-serif;
    margin: 0px 0px 15px;
    outline: rgb(51, 51, 51) none 0px;
}/*#DIV_7*/

#DIV_7:after {
    clear: both;
    color: rgb(51, 51, 51);
    display: table;
    text-size-adjust: 100%;
    column-rule-color: rgb(51, 51, 51);
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal normal 14px / 0px Arial, Helvetica, sans-serif;
    outline: rgb(51, 51, 51) none 0px;
}/*#DIV_7:after*/

#DIV_7:before {
    color: rgb(51, 51, 51);
    display: table;
    text-size-adjust: 100%;
    column-rule-color: rgb(51, 51, 51);
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal normal 14px / 0px Arial, Helvetica, sans-serif;
    outline: rgb(51, 51, 51) none 0px;
}/*#DIV_7:before*/

#I_10 {
    color: rgb(245, 63, 91);
    cursor: pointer;
    display: block;
    float: left;
    height: 17.2727px;
    text-align: center;
    text-size-adjust: 100%;
    width: 41.9886px;
    column-rule-color: rgb(245, 63, 91);
    perspective-origin: 20.9943px 8.63636px;
    transform-origin: 20.9943px 8.63636px;
    border: 0px none rgb(245, 63, 91);
    font: italic normal normal normal 16px / 18px Arial, Helvetica, sans-serif;
    outline: rgb(245, 63, 91) none 0px;
}/*#I_10*/

#I_10:before {
    color: rgb(245, 63, 91);
    content: '""';
    cursor: pointer;
    display: inline-block;
    height: 15.4545px;
    speak: none;
    text-align: center;
    text-rendering: optimizeLegibility;
    text-size-adjust: 100%;
    width: 15.9943px;
    column-rule-color: rgb(245, 63, 91);
    perspective-origin: 7.99716px 7.72727px;
    transform-origin: 7.99716px 7.72727px;
    border: 0px none rgb(245, 63, 91);
    font: normal normal normal normal 16px / 16px bbc-icons;
    outline: rgb(245, 63, 91) none 0px;
}/*#I_10:before*/

#DIV_12 {
    clear: both;
    color: rgb(51, 51, 51);
    height: 34.5455px;
    text-size-adjust: 100%;
    width: 588.182px;
    column-rule-color: rgb(51, 51, 51);
    perspective-origin: 294.091px 17.2727px;
    transform-origin: 294.091px 17.2727px;
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal normal 14px / 18px Arial, Helvetica, sans-serif;
    margin: 0px 0px 15px;
    outline: rgb(51, 51, 51) none 0px;
}/*#DIV_12*/

#DIV_12:after {
    clear: both;
    color: rgb(51, 51, 51);
    display: table;
    text-size-adjust: 100%;
    column-rule-color: rgb(51, 51, 51);
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal normal 14px / 0px Arial, Helvetica, sans-serif;
    outline: rgb(51, 51, 51) none 0px;
}/*#DIV_12:after*/

#DIV_12:before {
    color: rgb(51, 51, 51);
    display: table;
    text-size-adjust: 100%;
    column-rule-color: rgb(51, 51, 51);
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal normal 14px / 0px Arial, Helvetica, sans-serif;
    outline: rgb(51, 51, 51) none 0px;
}/*#DIV_12:before*/

#STRONG_14 {
    color: rgb(65, 61, 53);
    display: block;
    float: left;
    height: 34.5455px;
    text-size-adjust: 100%;
    vertical-align: top;
    width: 441.136px;
    column-rule-color: rgb(65, 61, 53);
    perspective-origin: 220.568px 17.2727px;
    transform-origin: 220.568px 17.2727px;
    border: 0px none rgb(65, 61, 53);
    font: normal normal bold normal 14px / 18px Arial, Helvetica, sans-serif;
    outline: rgb(65, 61, 53) none 0px;
}/*#STRONG_14*/

#I_15 {
    color: rgb(65, 61, 53);
    display: block;
    float: left;
    height: 17.2727px;
    text-align: center;
    text-size-adjust: 100%;
    width: 41.9886px;
    column-rule-color: rgb(65, 61, 53);
    perspective-origin: 20.9943px 8.63636px;
    transform-origin: 20.9943px 8.63636px;
    border: 0px none rgb(65, 61, 53);
    font: italic normal bold normal 16px / 18px Arial, Helvetica, sans-serif;
    outline: rgb(65, 61, 53) none 0px;
}/*#I_15*/

#I_15:before {
    color: rgb(65, 61, 53);
    display: inline-block;
    height: 15.4545px;
    speak: none;
    text-align: center;
    text-rendering: optimizeLegibility;
    text-size-adjust: 100%;
    width: 15.9943px;
    column-rule-color: rgb(65, 61, 53);
    perspective-origin: 7.99716px 7.72727px;
    transform-origin: 7.99716px 7.72727px;
    border: 0px none rgb(65, 61, 53);
    font: normal normal normal normal 16px / 16px bbc-icons;
    outline: rgb(65, 61, 53) none 0px;
}/*#I_15:before*/

#SPAN_16 {
    color: rgb(65, 61, 53);
    display: block;
    height: 34.5455px;
    text-size-adjust: 100%;
    width: 399.148px;
    column-rule-color: rgb(65, 61, 53);
    perspective-origin: 199.574px 17.2727px;
    transform-origin: 199.574px 17.2727px;
    border: 0px none rgb(65, 61, 53);
    font: normal normal bold normal 14px / 18px Arial, Helvetica, sans-serif;
    outline: rgb(65, 61, 53) none 0px;
    overflow: hidden;
}/*#SPAN_16*/

#SPAN_17 {
    color: rgb(114, 114, 114);
    display: block;
    height: 17.2727px;
    text-size-adjust: 100%;
    width: 399.148px;
    column-rule-color: rgb(114, 114, 114);
    perspective-origin: 199.574px 8.63636px;
    transform-origin: 199.574px 8.63636px;
    border: 0px none rgb(114, 114, 114);
    font: normal normal bold normal 14px / 18px Arial, Helvetica, sans-serif;
    outline: rgb(114, 114, 114) none 0px;
}/*#SPAN_17*/

#I_18 {
    color: rgb(0, 134, 191);
    text-size-adjust: 100%;
    column-rule-color: rgb(0, 134, 191);
    border: 0px none rgb(0, 134, 191);
    font: italic normal bold normal 14px / 18px Arial, Helvetica, sans-serif;
    outline: rgb(0, 134, 191) none 0px;
}/*#I_18*/

#I_18:before {
    color: rgb(0, 134, 191);
    display: inline-block;
    height: 13.6364px;
    speak: none;
    text-rendering: optimizeLegibility;
    text-size-adjust: 100%;
    width: 13.9915px;
    column-rule-color: rgb(0, 134, 191);
    perspective-origin: 6.98864px 6.81818px;
    transform-origin: 6.98864px 6.81818px;
    border: 0px none rgb(0, 134, 191);
    font: normal normal normal normal 14px / 14px bbc-icons;
    margin: 0px 2.8px;
    outline: rgb(0, 134, 191) none 0px;
}/*#I_18:before*/

#DIV_19 {
    clear: both;
    color: rgb(51, 51, 51);
    height: 64.5455px;
    text-size-adjust: 100%;
    width: 588.182px;
    column-rule-color: rgb(51, 51, 51);
    perspective-origin: 294.091px 32.2727px;
    transform-origin: 294.091px 32.2727px;
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal normal 14px / 18px Arial, Helvetica, sans-serif;
    margin: 0px 0px 15px;
    outline: rgb(51, 51, 51) none 0px;
}/*#DIV_19*/

#DIV_19:after {
    clear: both;
    color: rgb(51, 51, 51);
    display: table;
    text-size-adjust: 100%;
    column-rule-color: rgb(51, 51, 51);
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal normal 14px / 0px Arial, Helvetica, sans-serif;
    outline: rgb(51, 51, 51) none 0px;
}/*#DIV_19:after*/

#DIV_19:before {
    color: rgb(51, 51, 51);
    display: table;
    text-size-adjust: 100%;
    column-rule-color: rgb(51, 51, 51);
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal normal 14px / 0px Arial, Helvetica, sans-serif;
    outline: rgb(51, 51, 51) none 0px;
}/*#DIV_19:before*/

#DIV_21 {
    color: rgb(65, 61, 53);
    float: left;
    height: 64.5455px;
    text-size-adjust: 100%;
    vertical-align: top;
    width: 441.136px;
    column-rule-color: rgb(65, 61, 53);
    perspective-origin: 220.568px 32.2727px;
    transform-origin: 220.568px 32.2727px;
    border: 0px none rgb(65, 61, 53);
    font: normal normal normal normal 14px / 18px Arial, Helvetica, sans-serif;
    outline: rgb(65, 61, 53) none 0px;
}/*#DIV_21*/

#DIV_22, #DIV_25, #DIV_28 {
    color: rgb(65, 61, 53);
    float: left;
    height: 17px;
    vertical-align: top;
    width: 220px;
    column-rule-color: rgb(65, 61, 53);
    perspective-origin: 110px 8px;
    transform-origin: 110px 8px;
    border: 0px none rgb(65, 61, 53);
    font: normal normal normal normal 14px / 18px Arial, Helvetica, sans-serif;
    outline: rgb(65, 61, 53) none 0px;
}/*#DIV_22, #DIV_25, #DIV_28*/

#I_23 {
    color: rgb(65, 61, 53);
    display: block;
    float: left;
    height: 17.2727px;
    text-align: center;
    text-size-adjust: 100%;
    width: 41.9886px;
    column-rule-color: rgb(65, 61, 53);
    perspective-origin: 20.9943px 8.63636px;
    transform-origin: 20.9943px 8.63636px;
    border: 0px none rgb(65, 61, 53);
    font: italic normal normal normal 16px / 18px Arial, Helvetica, sans-serif;
    outline: rgb(65, 61, 53) none 0px;
}/*#I_23*/

#I_23:before {
    color: rgb(65, 61, 53);
    display: inline-block;
    height: 15.4545px;
    speak: none;
    text-align: center;
    text-rendering: optimizeLegibility;
    text-size-adjust: 100%;
    width: 15.9943px;
    column-rule-color: rgb(65, 61, 53);
    perspective-origin: 7.99716px 7.72727px;
    transform-origin: 7.99716px 7.72727px;
    border: 0px none rgb(65, 61, 53);
    font: normal normal normal normal 16px / 16px bbc-icons;
    outline: rgb(65, 61, 53) none 0px;
}/*#I_23:before*/

#SPAN_24, #SPAN_27, #SPAN_30 {
    color: rgb(65, 61, 53);
    display: block;
    height: 17px;
    width: 208px;
    column-rule-color: rgb(65, 61, 53);
    perspective-origin: 89.2898px 8.63636px;
    transform-origin: 89.2898px 8.63636px;
    border: 0px none rgb(65, 61, 53);
    font: normal normal normal normal 14px / 18px Arial, Helvetica, sans-serif;
    outline: rgb(65, 61, 53) none 0px;
    overflow: hidden;
}/*#SPAN_24, #SPAN_27, #SPAN_30*/

#I_26 {
    color: rgb(65, 61, 53);
    display: block;
    float: left;
    height: 17.2727px;
    text-align: center;
    text-size-adjust: 100%;
    width: 41.9886px;
    column-rule-color: rgb(65, 61, 53);
    perspective-origin: 20.9943px 8.63636px;
    transform-origin: 20.9943px 8.63636px;
    border: 0px none rgb(65, 61, 53);
    font: italic normal normal normal 16px / 18px Arial, Helvetica, sans-serif;
    outline: rgb(65, 61, 53) none 0px;
}/*#I_26*/

#I_26:before {
    color: rgb(65, 61, 53);
    display: inline-block;
    height: 15.4545px;
    speak: none;
    text-align: center;
    text-rendering: optimizeLegibility;
    text-size-adjust: 100%;
    width: 15.9943px;
    column-rule-color: rgb(65, 61, 53);
    perspective-origin: 7.99716px 7.72727px;
    transform-origin: 7.99716px 7.72727px;
    border: 0px none rgb(65, 61, 53);
    font: normal normal normal normal 16px / 16px bbc-icons;
    outline: rgb(65, 61, 53) none 0px;
}/*#I_26:before*/

#I_29 {
    color: rgb(65, 61, 53);
    display: block;
    float: left;
    height: 17.2727px;
    text-align: center;
    text-size-adjust: 100%;
    width: 41.9886px;
    column-rule-color: rgb(65, 61, 53);
    perspective-origin: 20.9943px 8.63636px;
    transform-origin: 20.9943px 8.63636px;
    border: 0px none rgb(65, 61, 53);
    font: italic normal normal normal 16px / 18px Arial, Helvetica, sans-serif;
    outline: rgb(65, 61, 53) none 0px;
}/*#I_29*/

#I_29:before {
    color: rgb(65, 61, 53);
    display: inline-block;
    height: 15.4545px;
    speak: none;
    text-align: center;
    text-rendering: optimizeLegibility;
    text-size-adjust: 100%;
    width: 15.9943px;
    column-rule-color: rgb(65, 61, 53);
    perspective-origin: 7.99716px 7.72727px;
    transform-origin: 7.99716px 7.72727px;
    border: 0px none rgb(65, 61, 53);
    font: normal normal normal normal 16px / 16px bbc-icons;
    outline: rgb(65, 61, 53) none 0px;
}/*#I_29:before*/

#DIV_31 {
    color: rgb(65, 61, 53);
    height: 71.9886px;
    text-size-adjust: 100%;
    width: 558.182px;
    column-rule-color: rgb(65, 61, 53);
    perspective-origin: 294.091px 50.9943px;
    transform-origin: 294.091px 50.9943px;
    background: rgb(239, 248, 253) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(65, 61, 53);
    margin-left: 20px;
    border-radius: 3px 3px 3px 3px;
    font: normal normal normal normal 14px / 18px Arial, Helvetica, sans-serif;
    outline: rgb(65, 61, 53) none 0px;
    padding: 15px;
}/*#DIV_31*/

#DIV_32 {
    bottom: 0px;
    color: rgb(65, 61, 53);
    height: 70.9943px;
    left: 0px;
    min-height: 36px;
    position: relative;
    right: 0px;
    text-size-adjust: 100%;
    top: 0px;
    width: 507.188px;
    column-rule-color: rgb(65, 61, 53);
    perspective-origin: 279.091px 35.4972px;
    transform-origin: 279.091px 35.4972px;
    border: 0px none rgb(65, 61, 53);
    font: normal normal normal normal 14px / 18px Arial, Helvetica, sans-serif;
    outline: rgb(65, 61, 53) none 0px;
    padding: 0px 0px 0px 51px;
}/*#DIV_32*/

#DIV_33 {
    bottom: 35px;
    color: rgb(65, 61, 53);
    height: 35.9943px;
    left: 0px;
    position: absolute;
    right: 522.188px;
    text-size-adjust: 100%;
    top: 0px;
    width: 35.9943px;
    column-rule-color: rgb(65, 61, 53);
    perspective-origin: 17.9972px 17.9972px;
    transform-origin: 17.9972px 17.9972px;
    border: 0px none rgb(65, 61, 53);
    font: normal normal normal normal 14px / 18px Arial, Helvetica, sans-serif;
    outline: rgb(65, 61, 53) none 0px;
}/*#DIV_33*/

#DIV_34 {
    bottom: 0px;
    color: rgb(65, 61, 53);
    height: 35.9943px;
    left: 0px;
    position: relative;
    right: 0px;
    text-size-adjust: 100%;
    top: 0px;
    width: 35.9943px;
    column-rule-color: rgb(65, 61, 53);
    perspective-origin: 17.9972px 17.9972px;
    transform-origin: 17.9972px 17.9972px;
    border: 0px none rgb(65, 61, 53);
    font: normal normal normal normal 14px / 18px Arial, Helvetica, sans-serif;
    outline: rgb(65, 61, 53) none 0px;
}/*#DIV_34*/

#IMG_35 {
    color: rgb(65, 61, 53);
    height: 35.9943px;
    max-width: 100%;
    text-size-adjust: 100%;
    vertical-align: middle;
    width: 35.9943px;
    column-rule-color: rgb(65, 61, 53);
    perspective-origin: 17.9972px 17.9972px;
    transform-origin: 17.9972px 17.9972px;
    border: 0px none rgb(65, 61, 53);
    border-radius: 50% 50% 50% 50%;
    font: normal normal normal normal 14px / 18px Arial, Helvetica, sans-serif;
    outline: rgb(65, 61, 53) none 0px;
}/*#IMG_35*/

#DIV_36 {
    color: rgb(65, 61, 53);
    height: 38.267px;
    overflow-wrap: break-word;
    text-size-adjust: 100%;
    width: 507.188px;
    word-wrap: break-word;
    column-rule-color: rgb(65, 61, 53);
    perspective-origin: 253.594px 19.1335px;
    transform-origin: 253.594px 19.1335px;
    border: 0px none rgb(65, 61, 53);
    font: normal normal normal normal 14px / 20px Arial, Helvetica, sans-serif;
    outline: rgb(65, 61, 53) none 0px;
}/*#DIV_36*/

#H3_37 {
    color: rgb(65, 61, 53);
    height: 17.2727px;
    overflow-wrap: break-word;
    text-rendering: optimizeLegibility;
    text-size-adjust: 100%;
    width: 505.199px;
    word-wrap: break-word;
    column-rule-color: rgb(65, 61, 53);
    perspective-origin: 252.599px 8.63636px;
    transform-origin: 252.599px 8.63636px;
    border: 0px none rgb(65, 61, 53);
    font: normal normal bold normal 14px / 18px Arial, Helvetica, sans-serif;
    margin: 1px;
    outline: rgb(65, 61, 53) none 0px;
}/*#H3_37*/

#A_38 {
    color: rgb(0, 134, 191);
    cursor: pointer;
    display: inline-block;
    height: 17.2727px;
    text-decoration: none;
    text-size-adjust: 100%;
    width: 215.739px;
    column-rule-color: rgb(0, 134, 191);
    perspective-origin: 107.869px 8.63636px;
    transform-origin: 107.869px 8.63636px;
    border: 0px none rgb(0, 134, 191);
    font: normal normal normal normal 14px / 18px Arial, Helvetica, sans-serif;
    margin: 15px 0px 0px;
    outline: rgb(0, 134, 191) none 0px;
}/*#A_38*/

#I_39 {
    color: rgb(0, 134, 191);
    cursor: pointer;
    text-size-adjust: 100%;
    column-rule-color: rgb(0, 134, 191);
    border: 0px none rgb(0, 134, 191);
    font: italic normal normal normal 16px / 18px Arial, Helvetica, sans-serif;
    outline: rgb(0, 134, 191) none 0px;
}/*#I_39*/

#I_39:before {
    color: rgb(0, 134, 191);
    cursor: pointer;
    display: inline-block;
    height: 15.4545px;
    speak: none;
    text-rendering: optimizeLegibility;
    text-size-adjust: 100%;
    width: 15.9943px;
    column-rule-color: rgb(0, 134, 191);
    perspective-origin: 7.99716px 7.72727px;
    transform-origin: 7.99716px 7.72727px;
    border: 0px none rgb(0, 134, 191);
    font: normal normal normal normal 16px / 16px bbc-icons;
    margin: 0px 3.2px;
    outline: rgb(0, 134, 191) none 0px;
}/*#I_39:before*/

                      /**/


#DIV_11 {
    bottom: 0px;
    color: rgb(51, 51, 51);
    height: 252.898px;
    left: 0px;
    position: relative;
    right: 0px;
    text-size-adjust: 100%;
    top: 0px;
    width: 298.182px;
    column-rule-color: rgb(51, 51, 51);
    perspective-origin: 150px 128.849px;
    transform-origin: 150px 128.849px;
    background: rgb(255, 255, 255) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0.909091px solid rgb(221, 221, 221);
    border-radius: 3px 3px 3px 3px;
    font: normal normal normal normal 13px / 18px Arial, Helvetica, sans-serif;
    margin: 0px 0px 20px;
    outline: rgb(51, 51, 51) none 0px;
    padding: 3px 0px 0px;
}/*#DIV_1*/

#DIV_22 {
    bottom: 0px;
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    cursor: pointer;
    height: 51.8182px;
    left: 0px;
    position: relative;
    right: 0px;
    text-size-adjust: 100%;
    top: 0px;
    width: 298.182px;
    column-rule-color: rgb(51, 51, 51);
    perspective-origin: 149.091px 25.9091px;
    transform-origin: 149.091px 25.9091px;
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal normal 13px / 18px Arial, Helvetica, sans-serif;
    outline: rgb(51, 51, 51) none 0px;
    padding: 15px;
}/*#DIV_2*/


#SPAN_33 {
    color: rgb(173, 175, 175);
    cursor: pointer;
    display: block;
    float: left;
    height: 17.2727px;
    text-size-adjust: 100%;
    width: 83.3807px;
    column-rule-color: rgb(173, 175, 175);
    perspective-origin: 41.6903px 8.63636px;
    transform-origin: 41.6903px 8.63636px;
    border: 0px none rgb(173, 175, 175);
    font: normal normal normal normal 14px / 18px Arial, Helvetica, sans-serif;
    outline: rgb(173, 175, 175) none 0px;
}/*#SPAN_3*/

#SPAN_44 {
    color: rgb(65, 61, 53);
    cursor: pointer;
    display: block;
    float: right;
    height: 21.8182px;
    text-size-adjust: 100%;
    width: 73.821px;
    column-rule-color: rgb(65, 61, 53);
    perspective-origin: 45.3977px 10.9091px;
    transform-origin: 45.3977px 10.9091px;
    border: 0px none rgb(65, 61, 53);
    font: normal normal bold normal 30px / 18px Arial, Helvetica, sans-serif;
    outline: rgb(65, 61, 53) none 0px;
    padding: 0px 17px 0px 0px;
}/*#SPAN_4*/

#SPAN_55 {
    color: rgb(65, 61, 53);
    cursor: pointer;
    text-size-adjust: 100%;
    column-rule-color: rgb(65, 61, 53);
    border: 0px none rgb(65, 61, 53);
    font: normal normal bold normal 18px / 18px Arial, Helvetica, sans-serif;
    outline: rgb(65, 61, 53) none 0px;
}/*#SPAN_5*/

#I_66 {
    bottom: 8.63636px;
    color: rgb(65, 61, 53);
    cursor: pointer;
    display: block;
    height: 17.2727px;
    left: 276.193px;
    position: absolute;
    right: 12px;
    text-size-adjust: 100%;
    top: 25.9091px;
    width: 10px;
    column-rule-color: rgb(65, 61, 53);
    perspective-origin: 5px 8.63636px;
    transform: matrix(1, 0, 0, 1, 0, -8.63636);
    transform-origin: 5px 8.63636px;
    border: 0px none rgb(65, 61, 53);
    font: italic normal bold normal 10px / 18px Arial, Helvetica, sans-serif;
    outline: rgb(65, 61, 53) none 0px;
    transition: transform 1s ease 0s;
}/*#I_6*/

#DIV_77 {
    bottom: 0px;
    color: rgb(51, 51, 51);
    left: 0px;
    position: relative;
    right: 0px;
    text-size-adjust: 100%;
    top: 0px;
    width: 298.182px;
    column-rule-color: rgb(51, 51, 51);
    perspective-origin: 149.091px 0px;
    transform-origin: 149.091px 0px;
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal normal 13px / 18px Arial, Helvetica, sans-serif;
    outline: rgb(51, 51, 51) none 0px;
    overflow: hidden;
    transition: height 0.35s ease 0s;
}/*#DIV_7*/

#DIV_88 {
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    height: 76.2642px;
    text-size-adjust: 100%;
    width: 298.182px;
    column-rule-color: rgb(51, 51, 51);
    perspective-origin: 149.091px 38.125px;
    transform-origin: 149.091px 38.125px;
    border-top: 0.909091px solid rgb(221, 221, 221);
    border-right: 0px none rgb(51, 51, 51);
    border-bottom: 0px none rgb(51, 51, 51);
    border-left: 0px none rgb(51, 51, 51);
    border-radius: 0 0 3px 3px;
    font: normal normal normal normal 13px / 18px Arial, Helvetica, sans-serif;
    outline: rgb(51, 51, 51) none 0px;
    padding: 15px;
}/*#DIV_8*/

#DIV_99 {
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    display: table;
    height: 18.1818px;
    text-size-adjust: 100%;
    width: 268.182px;
    column-rule-color: rgb(51, 51, 51);
    perspective-origin: 134.091px 9.09091px;
    transform-origin: 134.091px 9.09091px;
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal normal 13px / 18px Arial, Helvetica, sans-serif;
    margin: 0px 0px 9px;
    outline: rgb(51, 51, 51) none 0px;
}/*#DIV_9*/

#SPAN_10 {
    color: rgb(173, 175, 175);
    display: table-cell;
    height: 18.1818px;
    text-size-adjust: 100%;
    width: 190.909px;
    column-rule-color: rgb(173, 175, 175);
    perspective-origin: 95.4545px 9.09091px;
    transform-origin: 95.4545px 9.09091px;
    border: 0px none rgb(173, 175, 175);
    font: normal normal normal normal 14px / 18px Arial, Helvetica, sans-serif;
    outline: rgb(173, 175, 175) none 0px;
}/*#SPAN_10*/

#SPAN_11 {
    color: rgb(114, 114, 114);
    display: table-cell;
    height: 18px;
    width: 200px;
    margin-left: 5px;
    column-rule-color: rgb(114, 114, 114);
    border: 0px none rgb(114, 114, 114);
    font: normal normal bold normal 18px / 18px Arial, Helvetica, sans-serif;
    outline: rgb(114, 114, 114) none 0px;
}/*#SPAN_11*/

#DIV_12 {
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    display: table;
    height: 18.1818px;
    text-size-adjust: 100%;
    width: 268.182px;
    column-rule-color: rgb(51, 51, 51);
    perspective-origin: 134.091px 9.09091px;
    transform-origin: 134.091px 9.09091px;
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal normal 13px / 18px Arial, Helvetica, sans-serif;
    outline: rgb(51, 51, 51) none 0px;
}/*#DIV_12*/

#SPAN_139 {
    color: rgb(173, 175, 175);
    display: table-cell;
    height: 18.1818px;
    text-size-adjust: 100%;
    width: 200.909px;
    column-rule-color: rgb(173, 175, 175);
    perspective-origin: 100.455px 9.09091px;
    transform-origin: 100.455px 9.09091px;
    border: 0px none rgb(173, 175, 175);
    font: normal normal normal normal 14px / 18px Arial, Helvetica, sans-serif;
    outline: rgb(173, 175, 175) none 0px;
}/*#SPAN_13*/

#SPAN_14 {
    color: rgb(114, 114, 114);
    display: table-cell;
    height: 18x;
    text-size-adjust: 100%;
    width: 200px;
    margin-left: 15px;
    column-rule-color: rgb(114, 114, 114);
    perspective-origin: 33.6364px 9.09091px;
    transform-origin: 33.6364px 9.09091px;
    border: 0px none rgb(114, 114, 114);
    font: normal normal bold normal 18px / 18px Arial, Helvetica, sans-serif;
    outline: rgb(114, 114, 114) none 0px;
    padding: 0px 17px 0px 0px;
}/*#SPAN_14*/

#DIV_15 {
    box-sizing: border-box;
    color: rgb(173, 175, 175);
    height: 134.261px;
    text-align: center;
    text-size-adjust: 100%;
    width: 298.182px;
    column-rule-color: rgb(173, 175, 175);
    perspective-origin: 149.091px 67.1307px;
    transform-origin: 149.091px 67.1307px;
    border-top: 0.909091px solid rgb(221, 221, 221);
    border-right: 0px none rgb(173, 175, 175);
    border-bottom: 0px none rgb(173, 175, 175);
    border-left: 0px none rgb(173, 175, 175);
    font: normal normal normal normal 14px / 18px Arial, Helvetica, sans-serif;
    outline: rgb(173, 175, 175) none 0px;
    padding: 15px;
}/*#DIV_15*/

#UL_16 {
    color: rgb(173, 175, 175);
    height: 50px;
    text-align: center;
    text-size-adjust: 100%;
    width: 268.182px;
    column-rule-color: rgb(173, 175, 175);
    perspective-origin: 134.091px 25px;
    transform-origin: 134.091px 25px;
    border: 0px none rgb(173, 175, 175);
    font: normal normal normal normal 14px / 18px Arial, Helvetica, sans-serif;
    list-style: none outside none;
    margin: 0px;
    outline: rgb(173, 175, 175) none 0px;
    padding: 0px;
}/*#UL_16*/

#LI_17 {
    color: rgb(173, 175, 175);
    display: inline-block;
    height: 35.9943px;
    text-align: center;
    text-size-adjust: 100%;
    width: 35.9943px;
    column-rule-color: rgb(173, 175, 175);
    perspective-origin: 17.9972px 17.9972px;
    transform-origin: 17.9972px 17.9972px;
    border: 0px none rgb(173, 175, 175);
    font: normal normal normal normal 14px / 18px Arial, Helvetica, sans-serif;
    list-style: none outside none;
    margin: 10px 0px 0px;
    outline: rgb(173, 175, 175) none 0px;
}/*#LI_17*/

#SPAN_18, #SPAN_21, #SPAN_24 {
    box-sizing: border-box;
    color: rgb(173, 175, 175);
    display: block;
    height: 35.9943px;
    text-align: center;
    text-size-adjust: 100%;
    width: 35.9943px;
    column-rule-color: rgb(173, 175, 175);
    perspective-origin: 17.9972px 17.9972px;
    transform-origin: 17.9972px 17.9972px;
    border: 1.81818px dashed rgb(221, 221, 221);
    border-radius: 50% 50% 50% 50%;
    font: normal normal normal normal 14px / 18px Arial, Helvetica, sans-serif;
    list-style: none outside none;
    outline: rgb(173, 175, 175) none 0px;
}/*#SPAN_18, #SPAN_21, #SPAN_24*/

#SPAN_19 {
    bottom: 157.074px;
    clip: rect(0px 0px 0px 0px);
    color: rgb(173, 175, 175);
    display: block;
    height: 0.994318px;
    left: 107.33px;
    position: absolute;
    right: 191.847px;
    text-align: center;
    text-size-adjust: 100%;
    top: 99.8153px;
    width: 0.994318px;
    column-rule-color: rgb(173, 175, 175);
    perspective-origin: 0.497159px 0.497159px;
    transform-origin: 0.497159px 0.497159px;
    border: 0px none rgb(173, 175, 175);
    font: normal normal normal normal 14px / 18px Arial, Helvetica, sans-serif;
    list-style: none outside none;
    margin: -1px;
    outline: rgb(173, 175, 175) none 0px;
    overflow: hidden;
}/*#SPAN_19*/

#LI_20, #LI_23 {
    color: rgb(173, 175, 175);
    display: inline-block;
    height: 35.9943px;
    text-align: center;
    text-size-adjust: 100%;
    width: 35.9943px;
    column-rule-color: rgb(173, 175, 175);
    perspective-origin: 17.9972px 17.9972px;
    transform-origin: 17.9972px 17.9972px;
    border: 0px none rgb(173, 175, 175);
    font: normal normal normal normal 14px / 18px Arial, Helvetica, sans-serif;
    list-style: none outside none;
    margin: 10px 0px 0px 2px;
    outline: rgb(173, 175, 175) none 0px;
}/*#LI_20, #LI_23*/

#SPAN_22 {
    bottom: 157.074px;
    clip: rect(0px 0px 0px 0px);
    color: rgb(173, 175, 175);
    display: block;
    height: 0.994318px;
    left: 149.091px;
    position: absolute;
    right: 150.085px;
    text-align: center;
    text-size-adjust: 100%;
    top: 99.8153px;
    width: 0.994318px;
    column-rule-color: rgb(173, 175, 175);
    perspective-origin: 0.497159px 0.497159px;
    transform-origin: 0.497159px 0.497159px;
    border: 0px none rgb(173, 175, 175);
    font: normal normal normal normal 14px / 18px Arial, Helvetica, sans-serif;
    list-style: none outside none;
    margin: -1px;
    outline: rgb(173, 175, 175) none 0px;
    overflow: hidden;
}/*#SPAN_22*/

#SPAN_25 {
    bottom: 157.074px;
    clip: rect(0px 0px 0px 0px);
    color: rgb(173, 175, 175);
    display: block;
    height: 0.994318px;
    left: 190.852px;
    position: absolute;
    right: 108.324px;
    text-align: center;
    text-size-adjust: 100%;
    top: 99.8153px;
    width: 0.994318px;
    column-rule-color: rgb(173, 175, 175);
    perspective-origin: 0.497159px 0.497159px;
    transform-origin: 0.497159px 0.497159px;
    border: 0px none rgb(173, 175, 175);
    font: normal normal normal normal 14px / 18px Arial, Helvetica, sans-serif;
    list-style: none outside none;
    margin: -1px;
    outline: rgb(173, 175, 175) none 0px;
    overflow: hidden;
}/*#SPAN_25*/

#DIV_26 {
    color: rgb(173, 175, 175);
    height: 19.0909px;
    text-align: center;
    text-size-adjust: 100%;
    width: 268.182px;
    column-rule-color: rgb(173, 175, 175);
    perspective-origin: 134.091px 18.0398px;
    transform-origin: 134.091px 18.0398px;
    border: 0px none rgb(173, 175, 175);
    font: normal normal normal normal 14px / 18px Arial, Helvetica, sans-serif;
    outline: rgb(173, 175, 175) none 0px;
    padding: 17px 0px 0px;
}/*#DIV_26*/

#SPAN_27 {
    color: rgb(65, 61, 53);
    margin-left: 35px;
    margin-top: 30px;
    column-rule-color: rgb(65, 61, 53);
    font-size: x-large;
}/*#SPAN_27*/

#DIV_28 {
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    height: 66px;
    width: 298px;
    column-rule-color: rgb(51, 51, 51);
    perspective-origin: 149.091px 33.4091px;
    transform-origin: 149.091px 33.4091px;
    background: rgb(249, 249, 249) none repeat scroll 0% 0% / auto padding-box border-box;
    border-top: 0.909091px solid rgb(221, 221, 221);
    border-right: 0px none rgb(51, 51, 51);
    border-bottom: 0px none rgb(51, 51, 51);
    border-left: 0px none rgb(51, 51, 51);
    border-radius: 0 0 3px 3px;
    font: normal normal normal normal 13px / 14px Arial, Helvetica, sans-serif;
    outline: rgb(51, 51, 51) none 0px;
    padding: 15px;
}/*#DIV_28*/

#P_29 {
    color: rgb(114, 114, 114);
    height: 15.4545px;
    text-size-adjust: 100%;
    width: 268.182px;
    column-rule-color: rgb(114, 114, 114);
    perspective-origin: 134.091px 7.72727px;
    transform-origin: 134.091px 7.72727px;
    border: 0px none rgb(114, 114, 114);
    font: normal normal normal normal 13px / 16px Arial, Helvetica, sans-serif;
    margin: 0px 0px 5px;
    outline: rgb(114, 114, 114) none 0px;
}/*#P_29*/

#DIV_30 {
    color: rgb(51, 51, 51);
    height: 15.4545px;
    text-size-adjust: 100%;
    width: 268.182px;
    column-rule-color: rgb(51, 51, 51);
    perspective-origin: 134.091px 7.72727px;
    transform-origin: 134.091px 7.72727px;
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal normal 13px / 16px Arial, Helvetica, sans-serif;
    outline: rgb(51, 51, 51) none 0px;
}/*#DIV_30*/

#A_31 {
    color: rgb(0, 134, 191);
    cursor: pointer;
    text-decoration: none;
    text-size-adjust: 100%;
    column-rule-color: rgb(0, 134, 191);
    border: 0px none rgb(0, 134, 191);
    font: normal normal normal normal 13px / 16px Arial, Helvetica, sans-serif;
    outline: rgb(0, 134, 191) none 0px;
}/*#A_31*/

       /**/

#DIV_199 {
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    column-rule-color: rgb(51, 51, 51);
    border-top: 0.909091px solid rgb(221, 221, 221);
    border-right: 0px none rgb(51, 51, 51);
    border-bottom: 0px none rgb(51, 51, 51);
    border-left: 0px none rgb(51, 51, 51);
    border-radius: 0 0 3px 3px;
    font: normal normal normal normal 14px / 18px Arial, Helvetica, sans-serif;
    outline: rgb(51, 51, 51) none 0px;
    padding: 15px;
}/*#DIV_1*/

#DIV_29 {
    color: rgb(51, 51, 51);
    height: 145px;
    width: 100px;
    column-rule-color: rgb(51, 51, 51);
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal normal 14px / 18px Arial, Helvetica, sans-serif;
    outline: rgb(51, 51, 51) none 0px;
}/*#DIV_2*/

#DIV_3 {
    color: rgb(51, 51, 51);
    display: flex;
    height: 80px;
    width: 300px;
    column-rule-color: rgb(51, 51, 51);
    align-items: center;
    font: normal normal normal normal 14px / 18px Arial, Helvetica, sans-serif;
    margin: 0px 0px 15px;
    outline: rgb(51, 51, 51) none 0px;
}/*#DIV_3*/

#DIV_4 {
    color: rgb(51, 51, 51);
    height: 100px;
    width: 40px;
    column-rule-color: rgb(51, 51, 51);
    align-self: center;
    perspective-origin: 35.9943px 35.9943px;
    transform-origin: 35.9943px 35.9943px;
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal normal 14px / 18px Arial, Helvetica, sans-serif;
    outline: rgb(51, 51, 51) none 0px;
}/*#DIV_4*/

#A_5 {
    bottom: 0px;
    color: rgb(0, 134, 191);
    cursor: pointer;
    display: block;
    height: 500px;
    position: relative;
    text-decoration: none;
    width: 716px;
    column-rule-color: rgb(0, 134, 191);
    perspective-origin: 35.9943px 35.9943px;
    transform-origin: 35.9943px 35.9943px;
    border: 0px none rgb(0, 134, 191);
    font: normal normal normal normal 14px / 18px Arial, Helvetica, sans-serif;
    outline: rgb(0, 134, 191) none 0px;
}/*#A_5*/

#IMG_6 {
    color: rgb(0, 134, 191);
    cursor: pointer;
    height: 80px;
    margin-top: 10px;
    max-width: 100%;
    vertical-align: middle;
    width: 80px;
    column-rule-color: rgb(0, 134, 191);
    perspective-origin: 35.9943px 35.9943px;
    transform-origin: 35.9943px 35.9943px;
    border: 0px none rgb(0, 134, 191);
    border-radius: 50% 50% 50% 50%;
    font: normal normal normal normal 14px / 18px Arial, Helvetica, sans-serif;
    outline: rgb(0, 134, 191) none 0px;
}/*#IMG_6*/

#DIV_79 {
    color: rgb(51, 51, 51);
    display: flex;
    height: 46px;
    width: 40px;
    column-rule-color: rgb(51, 51, 51);
    align-self: center;
    justify-content: center;
    perspective-origin: 43px 23px;
    transform-origin: 43px 23px;
    border: 0px none rgb(51, 51, 51);
    flex-flow: column nowrap;
    font: normal normal normal normal 14px / 18px Arial, Helvetica, sans-serif;
    outline: rgb(51, 51, 51) none 0px;
}/*#DIV_7*/

#H4_8 {
    color: rgb(65, 61, 53);
    height: 20px;
    max-width: 196px;
    text-rendering: optimizeLegibility;
    text-size-adjust: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 40px;
    column-rule-color: rgb(65, 61, 53);
    perspective-origin: 39.1051px 10px;
    transform-origin: 39.1051px 10px;
    border: 0px none rgb(65, 61, 53);
    font: normal normal bold normal 15.96px / 20px Arial, Helvetica, sans-serif;
    margin: 0px;
    outline: rgb(65, 61, 53) none 0px;
    overflow: hidden;
}/*#H4_8*/

#A_9 {
    color: rgb(65, 61, 53);
    cursor: pointer;
    text-decoration: none;
    text-rendering: optimizeLegibility;
    text-size-adjust: 100%;
    white-space: nowrap;
    column-rule-color: rgb(65, 61, 53);
    border: 0px none rgb(65, 61, 53);
    font: normal normal bold normal 15.96px / 20px Arial, Helvetica, sans-serif;
    outline: rgb(65, 61, 53) none 0px;
}/*#A_9*/

#DIV_10 {
    color: rgb(51, 51, 51);
    height: 17.2727px;
    max-width: 150px;
    text-size-adjust: 100%;
    width: 50px;
    column-rule-color: rgb(51, 51, 51);
    perspective-origin: 39.1051px 13.125px;
    transform-origin: 39.1051px 13.125px;
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal normal 14px / 18px Arial, Helvetica, sans-serif;
    outline: rgb(51, 51, 51) none 0px;
    padding: 9px 0px 0px;
}/*#DIV_10*/

#DIV_119 {
    color: rgb(51, 51, 51);
    height: 20px;
    width: 268px;
    column-rule-color: rgb(51, 51, 51);
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal normal 14px / 18px Arial, Helvetica, sans-serif;
    margin: 0px 0px 10px;
    outline: rgb(51, 51, 51) none 0px;
}/*#DIV_11*/

#P_12 {
    color: rgb(51, 51, 51);
    display: inline-block;
    height: 17.2727px;
    text-size-adjust: 100%;
    width: 90.1136px;
    column-rule-color: rgb(51, 51, 51);
    perspective-origin: 45.0568px 10.625px;
    transform-origin: 45.0568px 10.625px;
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal normal 14px / 18px Arial, Helvetica, sans-serif;
    margin: 0px;
    outline: rgb(51, 51, 51) none 0px;
    padding: 2px 0px;
}/*#P_12*/

#I_13 {
    color: rgb(254, 209, 65);
    text-size-adjust: 100%;
    column-rule-color: rgb(254, 209, 65);
    border: 0px none rgb(254, 209, 65);
    font: italic normal normal normal 14px / 18px Arial, Helvetica, sans-serif;
    outline: rgb(254, 209, 65) none 0px;
}/*#I_13*/

#I_13:before {
    color: rgb(254, 209, 65);
    display: inline-block;
    height: 13.6364px;
    speak: none;
    text-rendering: optimizeLegibility;
    text-size-adjust: 100%;
    width: 13.9915px;
    column-rule-color: rgb(254, 209, 65);
    perspective-origin: 6.98864px 6.81818px;
    transform-origin: 6.98864px 6.81818px;
    border: 0px none rgb(254, 209, 65);
    font: normal normal normal normal 14px / 14px bbc-icons;
    margin: 0px 2.8px;
    outline: rgb(254, 209, 65) none 0px;
}/*#I_13:before*/

#SPAN_14 {
    color: rgb(65, 61, 53);
    text-size-adjust: 100%;
    column-rule-color: rgb(65, 61, 53);
    border: 0px none rgb(65, 61, 53);
    font: normal normal bold normal 14px / 18px Arial, Helvetica, sans-serif;
    outline: rgb(65, 61, 53) none 0px;
}/*#SPAN_14*/

#SPAN_15 {
    color: rgb(114, 114, 114);
    text-size-adjust: 100%;
    column-rule-color: rgb(114, 114, 114);
    border: 0px none rgb(114, 114, 114);
    font: normal normal normal normal 14px / 18px Arial, Helvetica, sans-serif;
    outline: rgb(114, 114, 114) none 0px;
}/*#SPAN_15*/

#DIV_16 {
    color: rgb(51, 51, 51);
    height: 27.983px;
    text-size-adjust: 100%;
    width: 268.182px;
    column-rule-color: rgb(51, 51, 51);
    perspective-origin: 134.091px 13.9915px;
    transform-origin: 134.091px 13.9915px;
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal normal 14px / 18px Arial, Helvetica, sans-serif;
    margin: 0px 0px 10px;
    outline: rgb(51, 51, 51) none 0px;
}/*#DIV_16*/

#DIV_16:after {
    clear: both;
    color: rgb(51, 51, 51);
    display: table;
    text-size-adjust: 100%;
    column-rule-color: rgb(51, 51, 51);
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal normal 14px / 0px Arial, Helvetica, sans-serif;
    outline: rgb(51, 51, 51) none 0px;
}/*#DIV_16:after*/

#DIV_16:before {
    color: rgb(51, 51, 51);
    display: table;
    text-size-adjust: 100%;
    column-rule-color: rgb(51, 51, 51);
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal normal 14px / 0px Arial, Helvetica, sans-serif;
    outline: rgb(51, 51, 51) none 0px;
}/*#DIV_16:before*/

#SPAN_17 {
    background-position: 0px -52px;
    color: rgb(51, 51, 51);
    display: block;
    float: left;
    height: 25.9943px;
    text-indent: -10000px;
    text-size-adjust: 100%;
    width: 25.9943px;
    column-rule-color: rgb(51, 51, 51);
    perspective-origin: 12.9972px 12.9972px;
    transform-origin: 12.9972px 12.9972px;
    background: rgba(0, 0, 0, 0) url("https://www.blablacar.fr/images/icons/sprite-prefs.png") no-repeat scroll 0px -52px / auto padding-box border-box;
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal normal 14px / 18px Arial, Helvetica, sans-serif;
    margin: 2px 5px 0px 0px;
    outline: rgb(51, 51, 51) none 0px;
}/*#SPAN_17*/

#SPAN_18 {
    bottom: 1358.44px;
    clip: rect(0px 0px 0px 0px);
    color: rgb(51, 51, 51);
    display: block;
    height: 0.994318px;
    left: -9319.09px;
    position: absolute;
    right: 10310.1px;
    text-indent: -10000px;
    text-size-adjust: 100%;
    top: 640.483px;
    width: 0.994318px;
    column-rule-color: rgb(51, 51, 51);
    perspective-origin: 0.497159px 0.497159px;
    transform-origin: 0.497159px 0.497159px;
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal normal 14px / 18px Arial, Helvetica, sans-serif;
    margin: -1px;
    outline: rgb(51, 51, 51) none 0px;
    overflow: hidden;
}/*#SPAN_18*/

#HR_19, #HR_30, #HR_37, #HR_63 {
    color: rgb(51, 51, 51);
    height: 0.994318px;
    text-size-adjust: 100%;
    width: 268.182px;
    column-rule-color: rgb(51, 51, 51);
    perspective-origin: 134.091px 0.497159px;
    transform-origin: 134.091px 0.497159px;
    background: rgb(221, 221, 221) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal normal 14px / 18px Arial, Helvetica, sans-serif;
    margin: 15px 0px;
    outline: rgb(51, 51, 51) none 0px;
}/*#HR_19, #HR_30, #HR_37, #HR_63*/

#UL_20 {
    color: rgb(51, 51, 51);
    height: 71.8182px;
    text-size-adjust: 100%;
    width: 268.182px;
    column-rule-color: rgb(51, 51, 51);
    perspective-origin: 134.091px 35.9091px;
    transform-origin: 134.091px 35.9091px;
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal normal 14px / 18px Arial, Helvetica, sans-serif;
    list-style: none outside none;
    margin: 0px;
    outline: rgb(51, 51, 51) none 0px;
    padding: 0px;
}/*#UL_20*/

#LI_21, #LI_66 {
    color: rgb(51, 51, 51);
    height: 17.2727px;
    text-size-adjust: 100%;
    width: 268.182px;
    column-rule-color: rgb(51, 51, 51);
    perspective-origin: 134.091px 8.63636px;
    transform-origin: 134.091px 8.63636px;
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal normal 14px / 18px Arial, Helvetica, sans-serif;
    list-style: none outside none;
    outline: rgb(51, 51, 51) none 0px;
}/*#LI_21, #LI_66*/

#I_22, #I_25, #I_28 {
    color: rgb(0, 168, 126);
    text-align: left;
    text-size-adjust: 100%;
    column-rule-color: rgb(0, 168, 126);
    border: 0px none rgb(0, 168, 126);
    font: italic normal normal normal 16px / 18px Arial, Helvetica, sans-serif;
    list-style: none outside none;
    outline: rgb(0, 168, 126) none 0px;
}/*#I_22, #I_25, #I_28*/

#I_22:before, #I_25:before, #I_28:before {
    color: rgb(0, 168, 126);
    display: inline-block;
    height: 15.4545px;
    speak: none;
    text-align: left;
    text-rendering: optimizeLegibility;
    text-size-adjust: 100%;
    width: 15.9943px;
    column-rule-color: rgb(0, 168, 126);
    perspective-origin: 7.99716px 7.72727px;
    transform-origin: 7.99716px 7.72727px;
    border: 0px none rgb(0, 168, 126);
    font: normal normal normal normal 16px / 16px bbc-icons;
    list-style: none outside none;
    margin: 0px 3.2px;
    outline: rgb(0, 168, 126) none 0px;
}/*#I_22:before, #I_25:before, #I_28:before*/

#SPAN_23, #SPAN_26, #SPAN_29 {
    color: rgb(0, 168, 126);
    text-align: left;
    text-size-adjust: 100%;
    column-rule-color: rgb(0, 168, 126);
    border: 0px none rgb(0, 168, 126);
    font: normal normal bold normal 14px / 18px Arial, Helvetica, sans-serif;
    list-style: none outside none;
    outline: rgb(0, 168, 126) none 0px;
}/*#SPAN_23, #SPAN_26, #SPAN_29*/

#LI_24, #LI_27, #LI_67, #LI_69 {
    color: rgb(51, 51, 51);
    height: 17.2727px;
    text-size-adjust: 100%;
    width: 268.182px;
    column-rule-color: rgb(51, 51, 51);
    perspective-origin: 134.091px 8.63636px;
    transform-origin: 134.091px 8.63636px;
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal normal 14px / 18px Arial, Helvetica, sans-serif;
    list-style: none outside none;
    margin: 10px 0px 0px;
    outline: rgb(51, 51, 51) none 0px;
}/*#LI_24, #LI_27, #LI_67, #LI_69*/

#H4_31, #H4_38, #H4_64 {
    color: rgb(65, 61, 53);
    height: 20px;
    margin-top: 14px;
    text-rendering: optimizeLegibility;
    width: 268px;
    column-rule-color: rgb(65, 61, 53);
    border: 0px none rgb(65, 61, 53);
}/*#H4_31, #H4_38, #H4_64*/

#DIV_329 {
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    display: table;
    column-rule-color: rgb(51, 51, 51);
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal normal 14px / 18px Arial, Helvetica, sans-serif;
    outline: rgb(51, 51, 51) none 0px;
}/*#DIV_32*/

#P_33 {
    color: rgb(51, 51, 51);
    display: table-cell;
    height: 70px;
    vertical-align: top;
    width: 268 px;
    column-rule-color: rgb(51, 51, 51);
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal normal 14px / 18px Arial, Helvetica, sans-serif;
    margin: 0px;
    outline: rgb(51, 51, 51) none 0px;
}/*#P_33*/

#BR_34, #BR_36 {
    color: rgb(51, 51, 51);
    text-size-adjust: 100%;
    column-rule-color: rgb(51, 51, 51);
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal normal 14px / 18px Arial, Helvetica, sans-serif;
    outline: rgb(51, 51, 51) none 0px;
}/*#BR_34, #BR_36*/

#SPAN_35 {
    color: rgb(51, 51, 51);
    display: inline-block;
    height: 12.9972px;
    text-size-adjust: 100%;
    width: 27.9972px;
    column-rule-color: rgb(51, 51, 51);
    perspective-origin: 13.9915px 6.49148px;
    transform-origin: 13.9915px 6.49148px;
    background: rgba(0, 0, 0, 0) url("https://www.blablacar.fr/images/icons/rating-car.png") repeat-x scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal normal 14px / 18px Arial, Helvetica, sans-serif;
    margin: 10px 0px;
    outline: rgb(51, 51, 51) none 0px;
}/*#SPAN_35*/

#DIV_39 {
    color: rgb(51, 51, 51);
    height: 238.636px;
    text-size-adjust: 100%;
    width: 268.182px;
    column-rule-color: rgb(51, 51, 51);
    perspective-origin: 134.091px 119.318px;
    transform-origin: 134.091px 119.318px;
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal normal 14px / 18px Arial, Helvetica, sans-serif;
    outline: rgb(51, 51, 51) none 0px;
}/*#DIV_39*/

#UL_40 {
    color: rgb(51, 51, 51);
    height: 206.364px;
    text-size-adjust: 100%;
    width: 268.182px;
    column-rule-color: rgb(51, 51, 51);
    perspective-origin: 134.091px 103.182px;
    transform-origin: 134.091px 103.182px;
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal normal 14px / 18px Arial, Helvetica, sans-serif;
    list-style: none outside none;
    margin: 0px;
    outline: rgb(51, 51, 51) none 0px;
    padding: 0px;
}/*#UL_40*/

#LI_41 {
    color: rgb(51, 51, 51);
    height: 96.3636px;
    text-size-adjust: 100%;
    width: 268.182px;
    column-rule-color: rgb(51, 51, 51);
    perspective-origin: 134.091px 48.1818px;
    transform-origin: 134.091px 48.1818px;
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal normal 14px / 18px Arial, Helvetica, sans-serif;
    list-style: none outside none;
    outline: rgb(51, 51, 51) none 0px;
}/*#LI_41*/

#ARTICLE_42 {
    bottom: 0px;
    color: rgb(51, 51, 51);
    height: 96.3636px;
    left: 0px;
    min-height: 36px;
    position: relative;
    right: 0px;
    text-align: left;
    text-size-adjust: 100%;
    top: 0px;
    width: 217.188px;
    column-rule-color: rgb(51, 51, 51);
    perspective-origin: 134.091px 48.1818px;
    transform-origin: 134.091px 48.1818px;
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal normal 14px / 18px Arial, Helvetica, sans-serif;
    list-style: none outside none;
    outline: rgb(51, 51, 51) none 0px;
    padding: 0px 0px 0px 51px;
}/*#ARTICLE_42*/

#A_43 {
    bottom: 60.3693px;
    color: rgb(0, 134, 191);
    cursor: pointer;
    display: block;
    height: 35.9943px;
    left: 0px;
    position: absolute;
    right: 232.188px;
    text-align: left;
    text-decoration: none;
    text-size-adjust: 100%;
    top: 0px;
    width: 35.9943px;
    column-rule-color: rgb(0, 134, 191);
    perspective-origin: 17.9972px 17.9972px;
    transform-origin: 17.9972px 17.9972px;
    border: 0px none rgb(0, 134, 191);
    font: normal normal normal normal 14px / 18px Arial, Helvetica, sans-serif;
    list-style: none outside none;
    outline: rgb(0, 134, 191) none 0px;
}/*#A_43*/

#DIV_45 {
    color: rgb(51, 51, 51);
    height: 96.3636px;
    overflow-wrap: break-word;
    text-align: left;
    text-size-adjust: 100%;
    width: 217.188px;
    word-wrap: break-word;
    column-rule-color: rgb(51, 51, 51);
    perspective-origin: 108.594px 48.1818px;
    transform-origin: 108.594px 48.1818px;
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal normal 14px / 20px Arial, Helvetica, sans-serif;
    list-style: none outside none;
    outline: rgb(51, 51, 51) none 0px;
}/*#DIV_45*/

#H3_46, #H3_56 {
    color: rgb(51, 51, 51);
    height: 20.9091px;
    overflow-wrap: break-word;
    text-align: left;
    text-rendering: optimizeLegibility;
    text-size-adjust: 100%;
    width: 217.188px;
    word-wrap: break-word;
    column-rule-color: rgb(51, 51, 51);
    perspective-origin: 108.594px 10.4545px;
    transform-origin: 108.594px 10.4545px;
    border: 0px none rgb(51, 51, 51);
    font: normal normal bold normal 14px / 21px Arial, Helvetica, sans-serif;
    list-style: none outside none;
    margin: 0px 0px 5px;
    outline: rgb(51, 51, 51) none 0px;
}/*#H3_46, #H3_56*/

#H3_46:before, #H3_56:before {
    color: rgb(51, 51, 51);
    display: inline-block;
    height: 10px;
    overflow-wrap: break-word;
    text-align: left;
    text-rendering: optimizeLegibility;
    text-size-adjust: 100%;
    width: 10px;
    word-wrap: break-word;
    column-rule-color: rgb(51, 51, 51);
    perspective-origin: 5px 5px;
    transform-origin: 5px 5px;
    background: rgb(0, 125, 87) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(51, 51, 51);
    border-radius: 50% 50% 50% 50%;
    font: normal normal bold normal 14px / 21px Arial, Helvetica, sans-serif;
    list-style: none outside none;
    margin: 0px 5px 0px 0px;
    outline: rgb(51, 51, 51) none 0px;
}/*#H3_46:before, #H3_56:before*/

#P_47 {
    color: rgb(51, 51, 51);
    height: 51.8182px;
    overflow-wrap: break-word;
    text-align: left;
    text-size-adjust: 100%;
    width: 217.188px;
    word-wrap: break-word;
    column-rule-color: rgb(51, 51, 51);
    perspective-origin: 108.594px 25.9091px;
    transform-origin: 108.594px 25.9091px;
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal normal 14px / 18px Arial, Helvetica, sans-serif;
    list-style: none outside none;
    margin: 0px;
    outline: rgb(51, 51, 51) none 0px;
}/*#P_47*/

#STRONG_48, #STRONG_58 {
    color: rgb(51, 51, 51);
    overflow-wrap: break-word;
    text-align: left;
    text-size-adjust: 100%;
    word-wrap: break-word;
    column-rule-color: rgb(51, 51, 51);
    border: 0px none rgb(51, 51, 51);
    font: normal normal bold normal 14px / 18px Arial, Helvetica, sans-serif;
    list-style: none outside none;
    outline: rgb(51, 51, 51) none 0px;
}/*#STRONG_48, #STRONG_58*/

#P_49, #P_59 {
    color: rgb(51, 51, 51);
    height: 13.6364px;
    overflow-wrap: break-word;
    text-align: left;
    text-size-adjust: 100%;
    width: 217.188px;
    word-wrap: break-word;
    column-rule-color: rgb(51, 51, 51);
    perspective-origin: 108.594px 6.81818px;
    transform-origin: 108.594px 6.81818px;
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal normal 14px / 14px Arial, Helvetica, sans-serif;
    list-style: none outside none;
    margin: 5px 0px 0px;
    outline: rgb(51, 51, 51) none 0px;
}/*#P_49, #P_59*/

#TIME_50, #TIME_60 {
    color: rgb(173, 175, 175);
    overflow-wrap: break-word;
    text-align: left;
    text-size-adjust: 100%;
    word-wrap: break-word;
    column-rule-color: rgb(173, 175, 175);
    border: 0px none rgb(173, 175, 175);
    font: normal normal normal normal 12px / 12px Arial, Helvetica, sans-serif;
    list-style: none outside none;
    outline: rgb(173, 175, 175) none 0px;
}/*#TIME_50, #TIME_60*/

#LI_51 {
    color: rgb(51, 51, 51);
    height: 79.0909px;
    text-size-adjust: 100%;
    width: 268.182px;
    column-rule-color: rgb(51, 51, 51);
    perspective-origin: 134.091px 47.5px;
    transform-origin: 134.091px 47.5px;
    border-top: 0.909091px solid rgb(221, 221, 221);
    border-right: 0px none rgb(51, 51, 51);
    border-bottom: 0px none rgb(51, 51, 51);
    border-left: 0px none rgb(51, 51, 51);
    font: normal normal normal normal 14px / 18px Arial, Helvetica, sans-serif;
    list-style: none outside none;
    margin: 15px 0px 0px;
    outline: rgb(51, 51, 51) none 0px;
    padding: 15px 0px 0px;
}/*#LI_51*/

#ARTICLE_52 {
    bottom: 0px;
    color: rgb(51, 51, 51);
    height: 79.0909px;
    left: 0px;
    min-height: 36px;
    position: relative;
    right: 0px;
    text-align: left;
    text-size-adjust: 100%;
    top: 0px;
    width: 217.188px;
    column-rule-color: rgb(51, 51, 51);
    perspective-origin: 134.091px 39.5455px;
    transform-origin: 134.091px 39.5455px;
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal normal 14px / 18px Arial, Helvetica, sans-serif;
    list-style: none outside none;
    outline: rgb(51, 51, 51) none 0px;
    padding: 0px 0px 0px 51px;
}/*#ARTICLE_52*/

#A_53 {
    bottom: 43.0966px;
    color: rgb(217, 25, 85);
    cursor: pointer;
    display: block;
    height: 35.9943px;
    left: 0px;
    position: absolute;
    right: 232.188px;
    text-align: left;
    text-decoration: none;
    text-size-adjust: 100%;
    top: 0px;
    width: 35.9943px;
    column-rule-color: rgb(217, 25, 85);
    perspective-origin: 17.9972px 17.9972px;
    transform-origin: 17.9972px 17.9972px;
    border: 0px none rgb(217, 25, 85);
    font: normal normal normal normal 14px / 18px Arial, Helvetica, sans-serif;
    list-style: none outside none;
    outline: rgb(217, 25, 85) none 0px;
}/*#A_53*/

#DIV_55 {
    color: rgb(51, 51, 51);
    height: 79.0909px;
    overflow-wrap: break-word;
    text-align: left;
    text-size-adjust: 100%;
    width: 217.188px;
    word-wrap: break-word;
    column-rule-color: rgb(51, 51, 51);
    perspective-origin: 108.594px 39.5455px;
    transform-origin: 108.594px 39.5455px;
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal normal 14px / 20px Arial, Helvetica, sans-serif;
    list-style: none outside none;
    outline: rgb(51, 51, 51) none 0px;
}/*#DIV_55*/

#P_57 {
    color: rgb(51, 51, 51);
    height: 34.5455px;
    overflow-wrap: break-word;
    text-align: left;
    word-wrap: break-word;
    column-rule-color: rgb(51, 51, 51);
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal normal 14px / 18px Arial, Helvetica, sans-serif;
    list-style: none outside none;
    margin: 0px;
    outline: rgb(51, 51, 51) none 0px;
}/*#P_57*/

#DIV_61, #DIV_70 {
    color: rgb(51, 51, 51);
    column-rule-color: rgb(51, 51, 51);
    border: 0px none rgb(51, 51, 51);
    margin-top: 0px;
    font: normal normal normal normal 14px / 18px Arial, Helvetica, sans-serif;
    outline: rgb(51, 51, 51) none 0px;
}/*#DIV_61, #DIV_70*/

#A_62, #A_71 {
    color: rgb(217, 25, 85);
    cursor: pointer;
    text-decoration: none;
    column-rule-color: rgb(217, 25, 85);
    border: 0px none rgb(217, 25, 85);
    outline: rgb(217, 25, 85) none 0px;
}/*#A_62, #A_71*/

#UL_65 {
    color: rgb(51, 51, 51);
    height: 99.0909px;
    text-size-adjust: 100%;
    width: 268.182px;
    column-rule-color: rgb(51, 51, 51);
    perspective-origin: 134.091px 49.5455px;
    transform-origin: 134.091px 49.5455px;
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal normal 14px / 18px Arial, Helvetica, sans-serif;
    list-style: none outside none;
    margin: 0px;
    outline: rgb(51, 51, 51) none 0px;
    padding: 0px;
}/*#UL_65*/

#LI_68 {
    color: rgb(51, 51, 51);
    column-rule-color: rgb(51, 51, 51);
    perspective-origin: 134.091px 8.63636px;
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal normal 14px / 18px Arial, Helvetica, sans-serif;
    list-style: none outside none;
    margin: 10px 0px 0px;
    outline: rgb(51, 51, 51) none 0px;
}/*#LI_68*/

/**/

#A_1 {
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    cursor: pointer;
    display: inline-block;
    margin-left: 80px;
    position: relative;
    right: 8px;
    text-align: center;
    text-decoration: none;
    top: 0px;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
    z-index: 2;
    column-rule-color: rgb(255, 255, 255);
    background: rgb(249, 157, 125) none repeat scroll 0% 0% / auto padding-box border-box;
    border-radius: 3px 3px 3px 3px;
    font: normal normal 500 normal 13px / 19.5px Roboto, sans-serif;
    list-style: none outside none;
    outline: rgb(255, 255, 255) none 0px;
    padding: 7px 12px;
}/*#A_1*/

/** search**/
.center-block {
    float: none;
    margin-left: auto;
    margin-right: auto;
}






.addon-lg .form-control {
    height: 60px;
    width: 200px;
}

.icon-addon.addon-sm .form-control {
    height: 30px;
    padding: 5px 10px 5px 28px;
    font-size: 20px;
    line-height: 1.5;
}

.icon-addon.addon-lg .fa,
.icon-addon.addon-lg .glyphicon {
    font-size: 35px;
}

.icon-addon.addon-md .form-control,
.icon-addon .form-control {
    padding-left: 35px;
    float: left;
    font-weight: normal;
}

.icon-addon.addon-sm .fa,
.icon-addon.addon-sm .glyphicon {
    font-size: 22px;
    left: 5px;
    top: -1px
}

.icon-addon .form-control:focus + .glyphicon,
.icon-addon:hover .glyphicon,
.icon-addon .form-control:focus + .fa,
.icon-addon:hover .fa {
    color: rgb(217, 25, 85);
}

#BUTTON_999 {
    color: rgb(255, 255, 255);
    cursor: pointer;
    display: block;
    height: 50px;
    position: relative;
    vertical-align: middle;
    width: 400px;
    column-rule-color: rgb(255, 255, 255);
    align-self: center;
    background: rgb(217, 25, 85) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(255, 255, 255);
    border-radius: 18px 18px 18px 18px;
    font: normal normal normal normal 16px / 20px Arial, Helvetica, sans-serif;
    outline: rgb(255, 255, 255) none 0px;
    padding: 12px;
}/*#BUTTON_1*/


#A_199 {
    bottom: 0px;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    cursor: pointer;
    display: inline-block;
    height: 40px;
    left: 0px;
    margin-left: 25px;
    margin-top: 8px;
    margin-bottom: 8px;
    position: relative;
    right: 0px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    vertical-align: middle;
    width: 200px;
    column-rule-color: rgb(255, 255, 255);
    perspective-origin: 57px 19px;
    transform-origin: 57px 19px;
    background: rgb(217, 25, 85) none repeat scroll 0px 0px / auto padding-box border-box;
    border: 1px solid rgb(217, 25, 85);
    font: normal normal 600 normal 15px / 28px ff-clan-web-pro, "Helvetica Neue", Helvetica, sans-serif;
    list-style: none outside none;
    outline: rgb(255, 255, 255) none 0px;
    padding: 4px 10px;
    transition: all 0.2s cubic-bezier(0.9, 0, 0.1, 1) 0s;
}/*#A_1*/

#A_1 {
    background-position: 0px 0px;
    box-sizing: border-box;
    color: rgb(0, 0, 0);
    cursor: pointer;
    display: inline-block;
    height: 50.2699px;
    text-align: left;
    text-decoration: none;
    text-size-adjust: 100%;
    width: 70.2273px;
    column-rule-color: rgb(0, 0, 0);
    perspective-origin: 35.1136px 25.1278px;
    transform-origin: 35.1136px 25.1278px;
    background: rgba(0, 0, 0, 0) none repeat scroll 0px 0px / auto padding-box border-box;
    border-top: 3.63636px solid rgba(0, 0, 0, 0);
    border-right: 0px none rgb(0, 0, 0);
    border-bottom: 0px none rgb(0, 0, 0);
    border-left: 0px none rgb(0, 0, 0);
    font: normal normal normal normal 17px / 34px ff-clan-web-pro, "Helvetica Neue", Helvetica, sans-serif;
    outline: rgb(0, 0, 0) none 0px;
    padding: 13px 12px 0px;
    transition: all 0.4s ease 0s;
}/*#A_1*/



#sigin {
margin-left: 30px;
    margin-top: 50px;
font-size: 25px;
color:  rgb(173, 175, 175);
}
#sigin:hover{
color: rgb(245, 63, 91) ;
}


.listdemoListControls md-divider {
    margin-top: 0;
    margin-bottom: 0; }

.listdemoListControls md-list {
    padding-top: 0; }

.listdemoListControls md-list-item > p,
.listdemoListControls md-list-item > .md-list-item-inner > p,
.listdemoListControls md-list-item .md-list-item-inner > p,
.listdemoListControls md-list-item .md-list-item-inner > .md-list-item-inner > p {
    -webkit-user-select: none;
    /* Chrome all / Safari all */
    -moz-user-select: none;
    /* Firefox all */
    -ms-user-select: none;
    /* IE 10+ */
    user-select: none;
    /* Likely future */ }


#mu-course-content .mu-course-content-area .mu-sidebar {
    display: inline;
    float: left;
    width: 100%;
}
#mu-course-content .mu-course-content-area .mu-sidebar .mu-single-sidebar {
    background-color: #FFF;
    display: inline;
    float: left;
    margin-bottom: 25px;
    padding: 0 10px 10px;
    width: 100%;
}
#mu-course-content .mu-course-content-area .mu-sidebar .mu-single-sidebar .mu-sidebar-catg {
    padding-left: 15px;
}
#mu-course-content .mu-course-content-area .mu-sidebar .mu-single-sidebar .mu-sidebar-catg li a {
    color: #333;
    display: inline-block;
    font-size: 15px;
    font-weight: normal;
    padding: 5px 0 5px 15px;
    position: relative;
    text-transform: capitalize;
    -webkit-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -ms-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
}
#mu-course-content .mu-course-content-area .mu-sidebar .mu-single-sidebar .mu-sidebar-catg li a:hover, #mu-course-content .mu-course-content-area .mu-sidebar .mu-single-sidebar .mu-sidebar-catg li a:focus {
    margin-left: 5px;
}
/**
 * Profile image component
 */
.profile-header-container{
    margin: 0 auto;
    text-align: center;
}

.profile-header-img {
    padding: 54px;
}

.profile-header-img > img.img-circle {
    width: 150px;
    height: 150px;
    border: 2px solid #51D2B7;
}

.profile-header {
    margin-top: 43px;
}

/**
 * Ranking component
 */
.rank-label-container {
    margin-top: -19px;
    /* z-index: 1000; */
    text-align: center;
}

.label.label-default.rank-label {
    background-color: rgb(81, 210, 183);
    padding: 5px 10px 5px 10px;
    border-radius: 27px;
}
