<body>
<div ng-controller="RidesSearchController as controller">
    <section class="main-content">

        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="page-content">
                        <div class="last-rides">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="page-sub-title textcenter">
                                    <h2>Search Rides</h2>
                                    <div class="line"></div>
                                </div>
                                <!-- end .page-sub-title -->
                            </div>
                            <div class="row">
                                  <div class="col-md-4 col-sm-4 col-xs-4" style="margin-top: 10px; margin-left: 10%">
                                          <md-input-container>
                                              <input ng-model="controller.searchByDriverName" placeholder="Search here">
                                          </md-input-container>
                                  </div>
                                <div class="col-md-6 col-sm-6 col-xs-6" style="margin-top: 25px">
                                    <div layout>
                                        <div flex="10" layout layout-align="center center">
                                            <span class="md-body-1">Price</span>
                                        </div>
                                        <md-slider flex md-discrete ng-model="controller.searchByPrice" step="5" min="5" max="500" aria-label="rating">
                                        </md-slider>
                                    </div>
                            </div>
                            <div ng-repeat="ride in controller.rides | filter: controller.filterByPrice"  class="col-md-12 col-sm-12 col-xs-12">
                                    <article class="ride-box clearfix">
                                        <div class="ride-content">
                                            <h3><a href="#">From {{ride.departure}} To {{ride.arrival}}</a></h3>ride by <a href="#">{{ride.driver.firstname}}  {{ride.driver.lastname}}</a>
                                        </div>
                                        <ul class="ride-meta">
                                            <li class="ride-date">
                                                <a href="#" class="tooltip-link" data-original-title="Date"
                                                   data-toggle="tooltip">
                                                    <i class="fa fa-calendar"></i> {{ride.date}}
                                                </a>
                                            </li>
                                            <li class="ride-date">
                                                <a href="#" class="tooltip-link" data-original-title="Date"
                                                   data-toggle="tooltip">
                                                    <i class="fa fa-money" aria-hidden="true"> {{ride.price}} Dh</i>
                                                </a>
                                            </li>
                                            <!-- end .ride-date -->
                                            <li class="ride-people">
                                                <a href="#" class="tooltip-link" data-original-title="Number of seats"
                                                   data-toggle="tooltip">
                                                    <i class="fa fa-user"></i> {{ride.placesAvailable}}
                                                </a>
                                            </li>
                                            <!-- end .ride-people -->
                                            <li>
                                                <a ng-click="controller.moreInfo(ride)">
                                                    <i class="fa fa-file"></i> More Info
                                                </a>
                                            </li>
                                        </ul>
                                        <!-- end .ride-meta -->
                                    </article>
                                <!-- end .ride-box -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </section>
</div>
</body>
