<body>
<div ng-controller="AddRideController as vm">
    <section class="main-content">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-xs-12">
                    <div class="page-sub-title textcenter">
                        <h2>Create ride</h2>
                        <div class="line"></div>
                    </div><!-- end .page-sub-title -->
                </div><!-- end .col-lg-12 -->

                <div class="col-sm-12 col-md-12 col-xs-12">

                    <div class="page-content add-new-ride" style="margin-left: 50px;margin-right: 50px">
                        <form name="add-ride" style="font-size: 20px">
                            <div layout-gt-xs="row">
                                    <label>Ride Date</label>
                                    <md-datepicker ng-model="vm.rideDate"></md-datepicker>
                            </div>
                            <div layout-gt-sm="row">
                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>Price</label>
                                    <input ng-model="vm.ridePrice">
                                </md-input-container>

                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>Number Of Places Available</label>
                                    <md-select ng-model="vm.ridePlacesAvailable">
                                        <md-option ng-repeat="number in vm.numbers" ng-value="number">
                                            {{number}}
                                        </md-option>
                                    </md-select>
                                </md-input-container>
                            </div>

                            <md-input-container class="md-block">
                                <label>More Info</label>
                                <textarea ng-model="vm.moreInfo" md-maxlength="150" rows="5" md-select-on-focus></textarea>
                            </md-input-container>

                            <div layout-gt-sm="row">
                                <md-input-container class="md-block" flex-gt-sm>
                                    <label style="margin-bottom: 20px">Departure</label>
                                    <input ng-model="vm.departure" google-place>
                                </md-input-container>
                                <md-input-container class="md-block" flex-gt-sm>
                                        <label style="margin-bottom: 20px">Arrival</label>
                                        <input ng-model="vm.arrival" google-place>
                                </md-input-container>
                            </div>
                            <button style="margin-left: 550px" type="submit" id="BUTTON_999" ng-click="vm.createRide()">
                                Create Ride
                            </button>
                        </form>
                    </div><!-- end .page-content -->
                </div><!-- end .col-sm-12 -->
            </div><!-- end .row -->
        </div><!-- end .container -->
    </section><!-- end .main-content -->
</div>
</body>

